html {
  box-sizing: border-box;
  text-decoration-skip-ink: auto;
}

body,
html {
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-smooth: never;
  -moz-font-smooth: never;
  widows: 1;
  orphans: 1;
  /* font-weight: normal; */
  position: relative;
}

em {
  font-style: italic;
}

button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style-type: none;
  list-style-position: inside;
}

sup {
  line-height: 0;
}

/* Scrollbar */

/* Works on Firefox */

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color) transparent;
}

/* Works on Chrome, Edge, and Safari */

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color);
  border-radius: 0px;
  border: none;
}
