
body{


   
    --yellow:  rgb(249,176,45);
    --yellow-medium: rgb(237, 202, 136);
    --yellow-light: rgb(250, 243, 230);

    --orange: rgb(245, 134, 44);
    --orange-medium: rgb(248, 161, 114);
    --orange-light: rgb(247, 232, 217);

    --red: rgb(232, 94, 49);
    --red-medium: rgb(237, 139, 109);
    --red-light: rgb(239, 213, 196);

    --violet: rgb(102, 55, 177);
    --violet-medium: rgb(133, 97, 192);
    --violet-light: rgb(206, 192, 226);

    --blue: rgb(24, 162, 174);
    --blue-medium: rgb(113, 193, 200);
    --blue-light: rgb(201, 237, 241);

    --green: rgb(14, 132, 77);
    --green-medium: rgb(68, 156, 115);
    --green-light: rgb(206, 242, 225);


}


body,
[data-page-type="list-articles"],
[data-type="article"],
[data-type="numero"],
[data-type="dossier"],
[data-page-type="authors"]{
    // --color: #eb4b10;
    // --color-medium: #f27040;
    // --color-light: #fac9b7;
    // --color-x-light: #fdede7;

    --color: #f9852d;
    --color-dark: #ff6403;
    --color-medium: #fa9b52;
    --color-light: #fdd4b5;
    --color-x-light: #fef1e6;

    
}


[data-page-type="actualites"],
[data-type="actu"]{
    --color-dark: #127d87;
    --color: rgb(24, 162, 174);
    --color-medium: rgb(113, 193, 200);
    --color-light: rgb(201, 237, 241);
    --color-x-light: #e9fafc;
}
