@mixin tag($color) {
  font-size: var(--size-small);
  line-height: calc(var(--baseline) * 0.75);
  display: inline-flex;
  border: 1px solid $color;
  color: $color;
  padding: 0ch 1ch;
  align-items: center;
  height: 3.4ch;
  // border-radius: 2.4ch;
  border-bottom-right-radius: 1ch;
  margin-bottom: calc(var(--baseline) * 0.25);

  a {
    border-bottom: none !important;
    text-decoration: none !important;
  }

  &::before {
    content: "# ";
  }
  &:hover {
    cursor: pointer;
    color: var(--color);
    border: 1px solid var(--color);
    // background-color: $color!important;
    // color: var(--color-bg);
  }
  .nbr {
    margin-left: 1.5ch;
  }
}

@mixin button($color, $color-bg) {
  display: inline-flex;
  border: 1px solid $color;
  background-color: $color;
  color: $color-bg;
  padding: 0ch 1ch;
  align-items: center;
  height: 3.4ch;
  border-radius: 2.4ch;
  margin-bottom: calc(var(--baseline) * 0.25);
  &:hover {
    cursor: pointer;
    background-color: var(--color-dark);
    border-color: var(--color-dark);
  }
}

@mixin button-outline($color, $color-bg) {
  display: inline-flex;
  border: 1px solid $color;
  color: $color;
  background-color: transparent;
  padding: 0ch 1ch;
  align-items: center;
  height: 3.4ch;
  border-radius: 2.4ch;
  margin-bottom: calc(var(--baseline) * 0.25);

  &:hover {
    background-color: var(--color-light);
    // background-color: $color;
    // color: $color-bg;
  }
}

.infos {
  font-size: var(--size-small);
  display: flex;
  justify-content: flex-end;
  p {
    padding-right: 0.5ch;
    &::before {
      content: var(--point) " ";
    }
    &:first-of-type::before {
      content: none;
    }
  }
}

@mixin link() {
  text-decoration: underline dotted;
  text-underline-offset: 2px;
  // border-bottom: 2px dotted currentColor;
  &:hover {
    color: var(--color);
  }
}

[onclick],
label,
button,
a {
  cursor: pointer;
}

@mixin arrow-bottom() {
  padding-left: 2.5ch;
  &::before {
    content: var(--arrow-bottom) " ";
    position: absolute;
    left: 0;
  }
}

@mixin keywords-list() {
  font-size: var(--size-small);
  line-height: calc(var(--baseline) * 0.75);
  li {
    display: inline-block;
    &::before {
      content: "#";
    }
    &::after {
      content: ",";
    }
    &:last-of-type::after {
      content: none;
    }
  }
}

@mixin card() {
  padding: calc(var(--padding-small) / 2) var(--padding-small);
  border-radius: var(--radius-small);
  background-color: var(--color-x-light);
}

@mixin header-banner() {
  font-family: var(--font-title);
  font-size: var(--size-title-small);
  line-height: calc(var(--baseline) * 1.5);
  border-bottom: var(--border-dotted);
  font-weight: normal;
  margin-bottom: calc(var(--baseline) * 1.5);
  color: var(--color);
  border-color: var(--color);
}

@mixin uppercase() {
  font-size: var(--size-x-small);
  text-transform: uppercase;
  letter-spacing: 0.015rem;
}
