

$desktop: "screen and (min-width: 1200px)";
$desktop-x: "screen and (min-width: 1460px)";
$desktop-xx: "screen and (min-width: 1900px)";

$headerOpen: "screen and (min-width: 1024px)";
$headerClose: "screen and (max-width: 1024px)";


$medium: "screen and (min-width: 860px)";
$tablet: "screen and (max-width: 860px)";
$notablet: "screen and (min-width: 860px)";
$small: "screen and (max-width: 720px)";
$phone: "screen and (max-width: 660px)";


@media #{$medium}{
    :root{
     
    }
 
}

@media #{$desktop}{
    :root{
     
    }
    body{
        // background-color: red;
    }
}


@media #{$tablet} {
    :root{
   
    }
    body{
        // background-color: red;
    }
}


@media #{$small} {
    :root{

    }

}