strong {
  font-family: var(--font-title);
  font-weight: 700;
}

@mixin text() {
  .chapo {
    p {
      font-size: calc(var(--font-size) * 1.4);
      line-height: calc(var(--baseline) * 1.25);
    }
    margin-bottom: calc(var(--baseline) * 2);
    border-top: var(--border-dotted);
    border-bottom: var(--border-dotted);
    padding-top: calc(var(--baseline) * 1);
    padding-bottom: calc(var(--baseline) * 0.75);
  }

  .chapo + figure {
    margin-top: calc(var(--baseline) * -1.5) !important;
  }

  h2 {
    font-family: var(--font-title);
    font-size: var(--size-title-medium);
    line-height: calc(var(--baseline) * 1.25);
    max-width: 90%;
    font-weight: normal;
    margin-top: calc(var(--baseline) * 2);
    margin-bottom: calc(var(--baseline) * 1);
  }

  h3 {
    font-family: var(--font-title);
    font-size: var(--size-title-small);
    line-height: calc(var(--baseline) * 1);
    max-width: 90%;
    font-weight: normal;
    margin-top: calc(var(--baseline) * 1.5);
    margin-bottom: calc(var(--baseline) * 0.5);
    @include arrow-bottom();
  }

  h4 {
    font-family: var(--font-family);
    text-decoration: underline;
    margin-top: calc(var(--baseline) * 1.5);
    margin-bottom: calc(var(--baseline) * 0.5);
  }

  h2 + h3 {
    margin-top: 0px;
  }

  p {
    margin-bottom: calc(var(--baseline) * 0.5);
  }

  ul {
    li {
      padding-left: 2ch;
      margin-bottom: calc(var(--baseline) * 0.25);
      &::before {
        content: "→ ";
        position: absolute;
        left: 0;
      }
    }
  }

  a {
    @include link();
  }

  hr {
    border: none;
    border-top: var(--border-dotted);
  }
}
