:root {
  --font: "Syne", sans-serif;
  --font-size: 18px;

  --baseline: 26px;

  --font-title: "Abordage", sans-serif;

  --size-small: 13px;
  // --size-x-small: 11px;
  --size-x-small: var(--size-small);

  --size-title: 56px;
  --size-title-medium: 28px;
  --size-title-small: 24px;
  --size-title-big: 100px;

  // --size-title-cards: 23px;

  --color-bg: rgb(253, 253, 253);
  --color-bg-light: rgb(247, 245, 237);
  --color-text: #222;
  --color-text-medium: #888;
  --color-text-light: #b0b0b0;

  --point: "●";
  --arrow-bottom: "↘";

  --bg-figure: #e8e8e8;

  --w-border: 2px;
  --border-dotted: 3px dotted #888;

  --padding-small: calc(var(--unit) * 0.5);
  --padding: calc(var(--unit) * 1);
  --padding-large: calc(var(--unit) * 1.5);

  --unit: 38px;
  --radius: 10px;
  --radius-small: 3px;

  // --arrow-right: "\00a0→"
}

body {
  // background-color: var(--background);
  font-family: var(--font);
  font-size: var(--font-size);
  line-height: var(--baseline);
  color: var(--color-text);
  background: var(--color-bg);

  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  font-weight: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

a {
  color: currentColor;
  cursor: pointer;
}

figure,
img {
  width: 100%;
}

picture img {
  object-fit: contain;
}

button {
  background: none;
  border: none;
}
