@font-face {
    font-family: 'Syne';
    src: url('Syne-Medium.woff2') format('woff2'),
        url('Syne-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Syne';
    src: url('Syne-Bold.woff2') format('woff2'),
        url('Syne-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Syne';
    src: url('Syne-ExtraBold.woff2') format('woff2'),
        url('Syne-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Syne';
    src: url('Syne-Regular.woff2') format('woff2'),
        url('Syne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Syne';
    src: url('Syne-SemiBold.woff2') format('woff2'),
        url('Syne-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

