[data-type="actu"]{

    #actu-header{

        .h1-small{
            font-family: var(--font-title);
            font-size: var(--size-title-medium);
            line-height: calc(var(--baseline) * 1.5);
        }

        .publication-date{
            margin-top: calc(var(--baseline)*1);
            text-align: right;
            font-size: var(--size-small);
        }
        
    }

    #actu-content{
        @include text();
        @include figure();
    
        figure{
            margin: 0;
        }

    }
}