[data-type="article"] {
  #article-infos {
    margin-top: calc(var(--baseline) * 2);
  }

  #article-content,
  #article-biblio {
    margin-top: calc(var(--baseline) * 3);
    padding-top: calc(var(--baseline) * 2);
    border-top: var(--border-dotted);

    @include text();
    @include figure();
  }

  #article-biblio {
    margin-top: calc(var(--baseline) * 3);
    border-top: var(--border-dotted);

    h2 {
      margin-top: 0px;
    }

    p {
      padding-left: 5ch;
      text-indent: -5ch;
    }
  }

  #article-content figure {
    cursor: pointer;
  }
}

@media #{$phone} {
  [data-layout="article"] {
    #main-content {
      margin-bottom: 0px !important;
    }
  }
}
