[data-layout="group"]{


    #list-articles{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: var(--padding-small);
        margin-top: calc(var(--baseline));
    }


    .header-content + .keywords{
       li{
        @include tag(var(--color-text));
        }
        margin-bottom: calc(var(--baseline)*1);
    }

    .header-content{
        .authors{ display: none; }
    }

 

    @media #{$medium} {

    }

    @media #{$tablet} {

        .banner{ 
            display: none;  
        }
       

        #main-content{
            padding: var(--padding-small);
           
            
            .header-content{ 
                .authors{ display: block; }
             }
                
            .keywords{
                margin-top: calc(var(--baseline)*0.5);
            }
        }
    }

   



}


[data-layout="group"] #main-content{
    container-type: inline-size;
    container-name: mainGroup;
}
@container mainGroup (max-width: 580px) {
    #list-articles {
      display: block!important;

      .card-block{
        margin-bottom: var(--padding-small);
      }
    }
  }

