[data-layout="group-list"] {
  background-color: var(--color-light);
}

@media #{$medium} {
  [data-layout="group-list"] .container-banners {
    left: var(--w-header);
    transition: left 0.5s;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    // color: var(--color);
    width: calc(var(--w-grid) * var(--group-nbr));

    .banner {
      border-right: var(--w-border) solid var(--color);
      display: block;
      width: var(--w-grid);
      height: 100vh;
      padding: var(--padding);
      overflow-y: scroll;
    }
  }
}
