[data-layout="home"] main {
  container-type: inline-size;
  container-name: home;

  #uppa,
  #puppa {
    svg,
    path {
      fill: var(--color);
    }
    width: 100px;
    margin-right: 20px;
  }

  #logos-phone {
    display: none;
    svg,
    path {
      fill: var(--color);
    }
  }

  #logo-home {
    grid-column: 1;
    grid-row: 1;
    width: 250px;
    fill: var(--color);
  }

  .home-infos {
    color: var(--color);
    font-size: var(--size-small);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    button {
      @include button(var(--color), var(--color-bg));
      margin-top: 1ch;
      margin-left: 2ch;
    }
  }

  & > section,
  & > article {
    min-height: calc(var(--baseline) * 6);
    width: 100%;
    height: 100%;
  }

  #section-current-num {
    figure {
      border-radius: var(--radius);
      background-color: var(--color-light);
      overflow: hidden;
      display: flex;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  #section-actus {
    padding-bottom: calc(var(--baseline) * 2);
    figure {
      display: none;
    }
    h1 {
      padding-bottom: calc(var(--baseline) * 0.5);
    }
    // h2 {
    //   font-family: var(--font);
    //   font-size: var(--size-small);
    //   line-height: calc(var(--baseline) * 0.75);
    // }
  }

  #section-keywords {
    ul {
      padding-top: calc(var(--baseline) * 1);
    }
    li {
      font-size: var(--size-small);
      @include tag(var(--color));
    }
  }

  button {
    font-size: var(--size-x-small) !important;
  }
}

@media #{$headerClose} {
  #logo-home {
    display: block;
  }
}

@media #{$headerOpen} {
  #logo-home {
    display: none;
  }
}

@container home (min-width: 660px) {
  #main-home {
    max-width: 100vw;
    display: grid;
    grid-gap: var(--padding-small);
    grid-template-columns: calc(50% - var(--padding-small) / 2) calc(
        50% - var(--padding-small) / 2
      );
    padding: var(--padding-small);

    .home-infos {
      grid-column: 1/3;
      grid-row: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    #section-current-num {
      max-width: 100%;
      grid-column: 1/3;
      grid-row: 2;
      min-height: calc(var(--baseline) * 9 + var(--padding-small) * 1);
      figure {
        width: calc(var(--unit) * 5);
        height: calc(var(--baseline) * 10);
        float: left;
        margin-top: calc(var(--baseline) * 0.75);
        margin-right: var(--padding-small);
        margin-bottom: calc(var(--baseline) * -1.5);
      }
    }

    #section-actus {
      grid-column: 1;
      grid-row: 3;
      height: 100%;
    }
  }
}

@container home (min-width: 960px) {
  #main-home {
    display: grid;
    grid-gap: var(--padding-small);
    grid-template-columns: repeat(6, 1fr);
    padding: var(--padding-small);

    .home-infos {
      grid-column: 1 / end;
      grid-row: 1;
    }

    #section-current-num {
      grid-column: 1/5;
      grid-row: 2;
    }

    #section-actus {
      grid-column: 1/3;
      grid-row: 3;
    }

    #section-keywords {
      grid-column: 5 / end;
      grid-row: 4;
    }

    article {
      grid-column: span 2;
    }
  }
}

@container home (min-width: 920px) {
  #main-home {
    padding: var(--padding-small) var(--padding);
  }
}

@container home (max-width: 660px) {
  [data-layout="home"] main #logos-phone {
    display: flex;
  }

  #main-home {
    display: block;
    padding: var(--padding-small);
    margin-bottom: 20vh;

    #logo-home {
      // margin-left: var(--padding-small);
      margin-top: var(--padding-small);
    }

    .home-infos {
      margin: var(--padding-small);
    }

    #section-current-num,
    #section-actus {
      margin-bottom: calc(var(--padding-small));

      .group-button {
        bottom: calc(var(--baseline) * 0.75);
      }
    }

    #section-current-num {
      .content {
        display: flex;
        flex-direction: column;
      }

      h1 {
        display: none;
        order: 1;
        margin-top: calc(var(--baseline) * 1);
      }
      figure {
        order: 3;
        width: 100%;
        max-width: calc(var(--unit) * 8);
        margin: 0 auto;
        margin-top: 0px;
        margin-bottom: calc(var(--baseline) * 0.75);
      }

      .infos {
        order: 2;
      }

      .list-articles {
        display: none;
      }
    }

    //  #card--article-cover,
    //  .card-block[data-type="article"],
    //  .card-block[data-type="dossier"]{
    //     background-color: transparent;
    //     border-radius: 0px;
    //     border-bottom:  1.5px solid var(--color-text-light);
    //     padding-top: calc(var(--baseline) * 1);
    //     padding-bottom: calc(var(--baseline) * 3);

    //     .group-button{
    //         bottom: calc(var(--baseline) * 0.75);
    //     }

    //     .keywords{
    //         border-top: none;
    //     }
    //  }
  }
}

@media screen and (max-width: 697px) {
  [data-layout="home"] {
    #logo-home {
      margin-top: calc(var(--baseline) * 1.5);
    }
    #uppa,
    #puppa {
      display: none;
    }
    #main-home .home-infos {
      margin: 0;
      margin-bottom: var(--padding-small);
    }

    #logos-phone {
      // background-color: red;
      padding: var(--padding-small);
      display: flex;
      #uppa-phone,
      #puppa-phone {
        width: 45%;
      }
      #uppa-phone {
        margin-right: 20px;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  [data-layout="home"] {
    #logo-home {
      width: calc(100vw - var(--unit) - var(--padding-small) * 2) !important;
    }
    .home-infos {
      margin-right: var(--padding-small);
      margin-top: calc(var(--baseline) * 0.25);
      margin-bottom: calc(var(--baseline) * 0.75);
      .universite {
        display: none;
      }
    }
  }
}

@media #{$medium} {
  [data-layout="home"] {
    main {
      padding: 0;
      width: calc(100vw - var(--w-header));
      margin: 0;
      margin-left: calc(var(--w-header) * 1);
    }
  }
}
