@font-face {
    font-family: 'Abordage';
    src: url('Abordage-Regular.woff2') format('woff2'),
        url('Abordage-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

