@font-face {
    font-family: 'Abordage';
    src: url('../fonts/abordage/Abordage-Regular.woff2') format('woff2'),
        url('../fonts/abordage/Abordage-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --menu-color-back: rgb(84, 57, 194);
    --text-sm: .93rem;
}

body {
    font-family: "Abordage", sans-serif !important;
}

.k-panel-menu {
    color: #fff;
}
.k-panel-menu-button[aria-current] {
    color: #000;
}