@charset "UTF-8";
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

body,
html {
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-smooth: never;
  -moz-font-smooth: never;
  widows: 1;
  orphans: 1;
  /* font-weight: normal; */
  position: relative;
}

em {
  font-style: italic;
}

button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style-type: none;
  list-style-position: inside;
}

sup {
  line-height: 0;
}

/* Scrollbar */
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color) transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color);
  border-radius: 0px;
  border: none;
}

:root {
  --font: "Syne", sans-serif;
  --font-size: 18px;
  --baseline: 26px;
  --font-title: "Abordage", sans-serif;
  --size-small: 13px;
  --size-x-small: var(--size-small);
  --size-title: 56px;
  --size-title-medium: 28px;
  --size-title-small: 24px;
  --size-title-big: 100px;
  --color-bg: rgb(253, 253, 253);
  --color-bg-light: rgb(247, 245, 237);
  --color-text: #222;
  --color-text-medium: #888;
  --color-text-light: #b0b0b0;
  --point: "●";
  --arrow-bottom: "↘";
  --bg-figure: #e8e8e8;
  --w-border: 2px;
  --border-dotted: 3px dotted #888;
  --padding-small: calc(var(--unit) * 0.5);
  --padding: calc(var(--unit) * 1);
  --padding-large: calc(var(--unit) * 1.5);
  --unit: 38px;
  --radius: 10px;
  --radius-small: 3px;
}

body {
  font-family: var(--font);
  font-size: var(--font-size);
  line-height: var(--baseline);
  color: var(--color-text);
  background: var(--color-bg);
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  font-weight: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

a {
  color: currentColor;
  cursor: pointer;
}

figure,
img {
  width: 100%;
}

picture img {
  -o-object-fit: contain;
     object-fit: contain;
}

button {
  background: none;
  border: none;
}

body {
  --yellow: rgb(249,176,45);
  --yellow-medium: rgb(237, 202, 136);
  --yellow-light: rgb(250, 243, 230);
  --orange: rgb(245, 134, 44);
  --orange-medium: rgb(248, 161, 114);
  --orange-light: rgb(247, 232, 217);
  --red: rgb(232, 94, 49);
  --red-medium: rgb(237, 139, 109);
  --red-light: rgb(239, 213, 196);
  --violet: rgb(102, 55, 177);
  --violet-medium: rgb(133, 97, 192);
  --violet-light: rgb(206, 192, 226);
  --blue: rgb(24, 162, 174);
  --blue-medium: rgb(113, 193, 200);
  --blue-light: rgb(201, 237, 241);
  --green: rgb(14, 132, 77);
  --green-medium: rgb(68, 156, 115);
  --green-light: rgb(206, 242, 225);
}

body,
[data-page-type=list-articles],
[data-type=article],
[data-type=numero],
[data-type=dossier],
[data-page-type=authors] {
  --color: #f9852d;
  --color-dark: #ff6403;
  --color-medium: #fa9b52;
  --color-light: #fdd4b5;
  --color-x-light: #fef1e6;
}

[data-page-type=actualites],
[data-type=actu] {
  --color-dark: #127d87;
  --color: rgb(24, 162, 174);
  --color-medium: rgb(113, 193, 200);
  --color-light: rgb(201, 237, 241);
  --color-x-light: #e9fafc;
}

.infos {
  font-size: var(--size-small);
  display: flex;
  justify-content: flex-end;
}
.infos p {
  padding-right: 0.5ch;
}
.infos p::before {
  content: var(--point) " ";
}
.infos p:first-of-type::before {
  content: none;
}

[onclick],
label,
button,
a {
  cursor: pointer;
}

strong {
  font-family: var(--font-title);
  font-weight: 700;
}

.hidden {
  display: none !important;
}

.sub-title::before {
  content: " – ";
}

#header {
  background-color: var(--color);
  color: var(--color-bg);
  z-index: 10000;
}
#header .content {
  overflow: hidden;
}
#header #button-header svg .inside {
  display: none;
}
#header nav {
  margin-top: calc(var(--baseline) * 2);
  margin-left: var(--unit);
}
#header nav ul {
  padding-left: calc(var(--padding) * 1.25);
}
#header nav ul li {
  padding-bottom: calc(var(--baseline) * 0.25);
  white-space: nowrap;
}
#header nav ul li::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid var(--color-bg);
  background-color: var(--color);
  position: relative;
  left: -14px;
}
#header nav ul li:hover::before {
  background-color: var(--color-bg);
}
#header nav ul li.selected::before {
  background-color: var(--color-bg);
}
#header #highlight li {
  display: inline-flex;
  border: 1px solid var(--color-bg);
  color: var(--color-bg);
  background-color: transparent;
  padding: 0ch 1ch;
  align-items: center;
  height: 3.4ch;
  border-radius: 2.4ch;
  margin-bottom: calc(var(--baseline) * 0.25);
  background-color: var(--color);
  text-align: center;
}
#header #highlight li:hover {
  background-color: var(--color-light);
}
#header #highlight li:hover {
  background-color: var(--color-bg) !important;
  border-color: var(--color-bg) !important;
  color: var(--color) !important;
}

#logo-phone, #button-header-phone {
  display: none;
}

#button-header {
  height: 100vh;
  width: var(--unit);
  border-right: var(--w-border) solid var(--color-light);
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: calc(var(--padding-small) * 1.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#baseline {
  width: 260px;
  margin-left: calc(var(--unit) * 1.75);
  margin-top: calc(var(--padding-small) * 1.25);
}
#baseline #logo {
  width: 250px;
  fill: var(--color-bg) !important;
}

#highlight {
  position: absolute;
  bottom: calc(var(--baseline) + var(--padding-small));
  font-size: var(--size-small);
  width: 16ch;
  left: 6px;
  z-index: 300;
}
#highlight li {
  font-size: var(--size-small);
  display: inline-flex;
  border: 1px solid var(--color-bg);
  color: var(--color-bg);
  background-color: transparent;
  padding: 0ch 1ch;
  align-items: center;
  height: 3.4ch;
  border-radius: 2.4ch;
  margin-bottom: calc(var(--baseline) * 0.25);
  text-align: center;
}
#highlight li:hover {
  background-color: var(--color-light);
}
#highlight li:nth-of-type(1) {
  transform: rotate(-4deg);
  left: 1.5ch;
  width: 20ch;
  z-index: 10;
  top: -6px;
}
#highlight li:nth-of-type(2) {
  transform: rotate(3deg);
}

@media screen and (max-width: 860px) {
  #highlight {
    position: relative;
    left: 70px;
    top: 0px;
    margin-top: calc(var(--baseline) * 2);
  }
  #highlight li:nth-of-type(1),
  #highlight li:nth-of-type(2) {
    transform: rotate(0deg) !important;
    left: 0px;
  }
  #highlight li:nth-of-type(2) {
    width: 15ch;
  }
}
@media screen and (min-width: 860px) {
  #header nav ul {
    padding-left: calc(var(--padding) * 2);
  }
  #header nav li:nth-of-type(2) {
    left: -20px;
  }
  #header nav li:nth-of-type(3) {
    left: -14px;
  }
  #header nav li:nth-of-type(4) {
    left: -24px;
  }
  #header nav li:nth-of-type(5) {
    left: -20px;
  }
  #header nav li:nth-of-type(6) {
    left: -18px;
  }
  #header nav li:nth-of-type(6) {
    left: 6px;
  }
  #header nav li:nth-of-type(7) {
    left: -9px;
  }
}
#logo-phone {
  width: 500px;
  max-width: calc(100vw - 60px);
  padding: var(--padding-small);
}

.banner {
  background-color: var(--color-light);
  padding: var(--padding);
}

body {
  width: 100vw;
  min-height: 100vh;
  padding: 0px;
  --w-grid: calc(var(--unit) * 8);
  --w-banner: var(--w-grid);
}

main {
  min-height: 93vh;
}

body #header {
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  transition: width 0.5s;
}
body #header #baseline,
body #header nav {
  transition: max-width 1s;
}

.title-phone {
  display: none;
}

/* max-width -------------------------------- */
[data-layout=group] #main-content,
[data-layout=article] #main-content,
[data-layout=banner] #main-content,
[data-layout=no-banner] #main-content {
  max-width: 680px;
  margin: 0 auto;
}

#main-content {
  margin-bottom: 20vh !important;
}

/* HEADER -------------------------------- */
@media screen and (max-width: 860px) {
  body #header,
  body.header-closed #header {
    width: var(--unit);
  }
  body #header #baseline,
  body #header nav,
  body #header #highlight,
  body.header-closed #header #baseline,
  body.header-closed #header nav,
  body.header-closed #header #highlight {
    display: none;
    max-width: 0px;
    overflow: hidden;
  }
  body.header-open #header {
    width: 100vw;
  }
  body.header-open #header #baseline,
  body.header-open #header nav,
  body.header-open #header #highlight {
    display: block;
    max-width: auto;
    overflow: visible;
  }
  main {
    margin-left: var(--unit);
  }
  main .banner {
    z-index: 200;
  }
  main .main-content {
    z-index: 100;
  }
}
/* MEDIUM -------------------------------- */
@media screen and (min-width: 860px) {
  body {
    --w-header: calc(var(--w-grid) + var(--unit));
  }
  body #header {
    width: var(--w-header);
    border-right: 1.5px solid var(--color-light);
  }
  body #header #baseline,
  body #header nav {
    max-width: var(--w-header);
  }
  body.header-closed {
    --w-header: var(--unit);
  }
  .header-closed #header #baseline,
  .header-closed #header nav {
    display: none;
    max-width: 0px;
    overflow: hidden;
  }
  body #header {
    width: var(--w-header);
  }
  [data-layout=group] main,
  [data-layout=article] main,
  [data-layout=banner] main {
    margin-left: calc(var(--w-banner) + var(--unit));
    padding: var(--padding-large);
  }
  [data-layout=group] main .banner,
  [data-layout=article] main .banner,
  [data-layout=banner] main .banner {
    z-index: 200;
  }
  [data-layout=group] main .main-content,
  [data-layout=article] main .main-content,
  [data-layout=banner] main .main-content {
    z-index: 100;
  }
  [data-layout=group] #main-content,
  [data-layout=article] #main-content,
  [data-layout=banner] #main-content {
    transition: all 0.5s;
  }
  [data-layout=group] .banner,
  [data-layout=article] .banner,
  [data-layout=banner] .banner {
    height: 100vh;
    position: fixed;
    top: 0px;
    width: var(--w-banner);
    left: var(--w-header);
    overflow: scroll;
    padding-bottom: 20vh;
    transition: left 0.5s;
  }
  [data-layout=home] main,
  [data-layout=no-banner] main {
    margin-left: var(--w-header);
    padding: var(--padding-large);
    transition: all 0.5s;
  }
  [data-layout=home] #main-content,
  [data-layout=no-banner] #main-content {
    transition: all 0.5s;
  }
}
/* DESKTOP -------------------------------- */
@media screen and (min-width: 1200px) {
  [data-layout=group] main,
  [data-layout=article] main,
  [data-layout=banner] main {
    margin-left: calc(var(--w-header) + var(--w-banner));
    transition: all 0.5s;
  }
}
@media screen and (min-width: 1460px) {
  [data-layout=home] #main-home {
    max-width: 1300px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1900px) {
  body {
    --w-grid: calc(var(--unit) * 12);
  }
  [data-layout=group-list] .container-banners {
    --w-grid: calc(var(--unit) * 10);
  }
  #header #logo {
    width: 390px;
  }
}
@media screen and (max-width: 860px) {
  [data-layout=full] #main-content,
  [data-layout=group] #main-content,
  [data-layout=article] #main-content,
  [data-layout=banner] #main-content,
  [data-layout=no-banner] #main-content {
    padding: var(--padding-small);
    margin-bottom: 20vh;
  }
}
@media screen and (max-width: 660px) {
  body {
    --size-title: 36px;
  }
  [data-layout=full] #main-content {
    padding: 0px;
  }
  [data-page-type=list-articles] #main-content {
    padding: 0;
  }
  [data-page-type=list-articles] #main-content .header-list {
    background-color: var(--color-bg-light);
    border-top: var(--w-border) solid var(--color);
    padding: var(--padding-small);
    position: sticky;
    top: 0px;
    margin-left: -1.2rem;
    width: calc(100vw - var(--unit));
    z-index: 100;
  }
  [data-page-type=list-articles] #main-content .header-list .title-phone {
    width: 100%;
    padding-top: 0px;
  }
  [data-page-type=list-articles] #main-content .header-list #articles-search {
    background-color: var(--color-bg-light);
  }
  .title-phone {
    display: block;
    font-family: var(--font);
    text-transform: uppercase;
    font-size: var(--size-small);
    padding: var(--padding-small);
    color: var(--color);
  }
}
[data-layout=full] #main-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
[data-layout=full] main {
  width: calc(100% - var(--w-header));
  margin-left: var(--w-header);
  padding: var(--padding-large);
  transition: all 0.5s;
  container-type: inline-size;
  container-name: mainFull;
}
@media screen and (max-width: 660px) {
  [data-layout=full] main {
    padding: 0;
    padding-right: calc(var(--padding-small) * 1);
    padding-left: calc(var(--unit) + var(--padding-small));
  }
}
[data-layout=full] #main-content {
  transition: all 0.5s;
}

@container mainFull (min-width: 660px) {
  #main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--padding-small);
  }
  #main-content .card-block {
    margin-bottom: 0px;
  }
  header {
    grid-column: span 2;
  }
}
@container mainFull (min-width: 960px) {
  #main-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: var(--padding-small);
  }
  header {
    grid-column: span 3;
  }
}
[data-layout=group] .banner,
[data-layout=group-list] .banner {
  background-color: var(--color-light);
}
[data-layout=group] .banner .category,
[data-layout=group-list] .banner .category {
  display: none;
  font-size: var(--size-small);
  background-color: var(--color);
  color: var(--color-light);
  border-radius: var(--radius-small);
  padding: 0 1ch;
}
[data-layout=group] .banner .group-title,
[data-layout=group-list] .banner .group-title {
  padding-bottom: calc(var(--baseline) * 0.5);
}
[data-layout=group] .banner .num,
[data-layout=group-list] .banner .num {
  font-family: var(--font-title);
  display: inline-block;
  padding: 0.3ch 1ch 0ch 1ch;
  font-size: var(--size-small);
  color: var(--color);
  border: 1.5px solid var(--color);
  font-weight: bold;
}
[data-layout=group] .banner h1,
[data-layout=group-list] .banner h1 {
  font-size: var(--size-title-medium);
  line-height: calc(var(--baseline) * 1.25);
  padding-top: calc(var(--baseline) * 1);
}
[data-layout=group] .banner h1:hover,
[data-layout=group-list] .banner h1:hover {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
[data-layout=group] .banner h3,
[data-layout=group-list] .banner h3 {
  font-family: var(--font);
  font-size: var(--size-small);
}
[data-layout=group] .banner figure,
[data-layout=group-list] .banner figure {
  border-radius: var(--radius);
  margin-top: calc(var(--baseline) * 0.75);
  background-color: var(--color);
  overflow: hidden;
  display: flex;
  width: 100%;
  aspect-ratio: 3/4;
}
[data-layout=group] .banner figure img,
[data-layout=group-list] .banner figure img {
  width: 100%;
  height: 100%;
  mix-blend-mode: cover;
}
[data-layout=group] .banner .description,
[data-layout=group-list] .banner .description {
  padding: calc(var(--baseline) * 0.5) 0;
  margin-top: calc(var(--baseline) * 0.25);
  -webkit-hyphens: auto;
          hyphens: auto;
  hyphenate-limit-chars: 8 4 4;
}
[data-layout=group] .banner .keywords,
[data-layout=group-list] .banner .keywords {
  margin-top: calc(var(--baseline) * 1);
}
[data-layout=group] .banner .keywords li,
[data-layout=group-list] .banner .keywords li {
  font-size: var(--size-small);
  line-height: calc(var(--baseline) * 0.75);
  display: inline-flex;
  border: 1px solid var(--color);
  color: var(--color);
  padding: 0ch 1ch;
  align-items: center;
  height: 3.4ch;
  border-bottom-right-radius: 1ch;
  margin-bottom: calc(var(--baseline) * 0.25);
}
[data-layout=group] .banner .keywords li a,
[data-layout=group-list] .banner .keywords li a {
  border-bottom: none !important;
  text-decoration: none !important;
}
[data-layout=group] .banner .keywords li::before,
[data-layout=group-list] .banner .keywords li::before {
  content: "# ";
}
[data-layout=group] .banner .keywords li:hover,
[data-layout=group-list] .banner .keywords li:hover {
  cursor: pointer;
  color: var(--color);
  border: 1px solid var(--color);
}
[data-layout=group] .banner .keywords li .nbr,
[data-layout=group-list] .banner .keywords li .nbr {
  margin-left: 1.5ch;
}
[data-layout=group] .banner .infos,
[data-layout=group-list] .banner .infos {
  display: block;
  color: var(--color);
}
[data-layout=group] .banner .infos p,
[data-layout=group-list] .banner .infos p {
  display: inline-block;
  line-height: calc(var(--baseline) * 0.75);
}
[data-layout=group] .banner .infos p + p::before,
[data-layout=group-list] .banner .infos p + p::before {
  content: var(--point) " ";
}
[data-layout=group] .banner .authors,
[data-layout=group-list] .banner .authors {
  margin-top: calc(var(--baseline) * 0.5);
}
[data-layout=group] .banner .authors p.texts, [data-layout=group] .banner .authors p,
[data-layout=group-list] .banner .authors p.texts,
[data-layout=group-list] .banner .authors p {
  font-size: var(--size-medium);
  line-height: calc(var(--baseline) * 0.5);
  display: inline;
}
[data-layout=group] .banner .group-button,
[data-layout=group-list] .banner .group-button {
  font-size: var(--size-small);
  display: flex;
  justify-content: flex-end;
  margin-top: calc(var(--baseline) * 0.5);
}
[data-layout=group] .banner .group-button button,
[data-layout=group-list] .banner .group-button button {
  margin-left: 1ch;
}
[data-layout=group] .banner .button-outline,
[data-layout=group-list] .banner .button-outline {
  display: inline-flex;
  border: 1px solid var(--color);
  color: var(--color);
  background-color: transparent;
  padding: 0ch 1ch;
  align-items: center;
  height: 3.4ch;
  border-radius: 2.4ch;
  margin-bottom: calc(var(--baseline) * 0.25);
}
[data-layout=group] .banner .button-outline:hover,
[data-layout=group-list] .banner .button-outline:hover {
  background-color: var(--color-light);
}
[data-layout=group] .banner .button-full,
[data-layout=group-list] .banner .button-full {
  display: inline-flex;
  border: 1px solid var(--color);
  background-color: var(--color);
  color: var(--color-x-light);
  padding: 0ch 1ch;
  align-items: center;
  height: 3.4ch;
  border-radius: 2.4ch;
  margin-bottom: calc(var(--baseline) * 0.25);
}
[data-layout=group] .banner .button-full:hover,
[data-layout=group-list] .banner .button-full:hover {
  cursor: pointer;
  background-color: var(--color-dark);
  border-color: var(--color-dark);
}
[data-layout=group] .banner .back,
[data-layout=group-list] .banner .back {
  position: fixed;
  bottom: 0;
  left: calc(var(--w-header) + var(--padding-small));
  background-color: var(--color-light);
  width: calc(var(--w-banner) - var(--padding-small) * 2);
  height: calc(var(--baseline) * 2);
  border-top: 1.5px solid var(--color);
  display: flex;
  align-items: center;
  color: var(--color);
  transition: all 0.5s;
}
[data-layout=group] .banner .back a::before,
[data-layout=group-list] .banner .back a::before {
  content: "← ";
}
[data-layout=group] .banner .back a:hover,
[data-layout=group-list] .banner .back a:hover {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

[data-layout=group-list] .banner .back {
  display: none;
}

@media screen and (max-width: 860px) {
  [data-layout=group-list] .banner {
    --fig-size: 200px;
    padding: var(--padding-small);
    padding-left: calc(var(--fig-size) + var(--padding-small) * 2.5);
    min-height: calc(var(--fig-size) + var(--padding-small) * 5.5);
    border-bottom: var(--w-border) solid var(--color);
  }
  [data-layout=group-list] .banner figure {
    max-width: var(--fig-size);
    position: absolute;
    top: 0px;
    left: var(--padding-small);
  }
  [data-layout=group-list] .banner .group-button {
    position: absolute;
    bottom: calc(var(--padding-small) * 0.5);
    right: var(--padding-small);
  }
}
@media screen and (max-width: 660px) {
  [data-layout=group-list] {
    margin-bottom: 20vh;
  }
  [data-layout=group-list] .banner {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto calc(var(--baseline) * 1.75);
    padding-left: var(--padding-small);
  }
  [data-layout=group-list] .banner .group-title {
    border: none;
    min-height: auto;
    grid-column: span 2;
  }
  [data-layout=group-list] .banner .group-title h1 {
    min-height: auto;
  }
  [data-layout=group-list] .banner figure {
    grid-row: 2/4;
    grid-column: 1;
    aspect-ratio: 3/4;
    width: 100%;
    max-width: 180px;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    margin-top: 0;
  }
  [data-layout=group-list] .banner .infos {
    grid-row: 2;
    grid-column: 2;
    margin-left: var(--padding-small);
    line-height: calc(var(--baseline) * 0.5);
  }
  [data-layout=group-list] .banner .infos p::before {
    content: var(--point) " ";
  }
  [data-layout=group-list] .banner .group-button {
    bottom: calc(var(--padding-small) * 0.75);
  }
  [data-layout=group-list] .banner .group-button button {
    display: block;
    margin-bottom: 0px;
    margin-left: var(--padding-small);
    margin-right: 1ch;
  }
  [data-page-type=list-numeros] .banner {
    grid-template-rows: auto auto calc(var(--baseline) * 3);
  }
  [data-page-type=list-numeros] .banner .group-button {
    display: block;
  }
  [data-page-type=list-numeros] .banner .group-button button {
    margin-top: calc(var(--baseline) * 0.25);
  }
  [data-layout=group] .banner {
    padding-top: calc(var(--baseline) * 2);
  }
  [data-layout=group] .banner .category {
    display: block;
    position: absolute;
    top: 0;
    margin-top: var(--padding-small);
    margin-left: var(--padding-small);
  }
}
@media screen and (max-width: 660px) and (min-width: 640px) {
  [data-layout=group] .banner {
    padding-top: calc(var(--padding-small) + var(--baseline) * 1);
    padding: var(--baseline) var(--padding-small);
    max-width: 680px;
    margin: 0 auto;
    border-bottom: none;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto auto auto;
    grid-column-gap: var(--padding-small);
  }
  [data-layout=group] .banner::before {
    content: "";
    width: 200vw;
    height: calc(100% + var(--w-border));
    position: absolute;
    left: -20vw;
    top: 0;
    background-color: var(--color-light);
    z-index: -1;
    border-bottom: var(--w-border) solid var(--color);
  }
  [data-layout=group] .banner figure {
    grid-column: 2;
    grid-row: 1/4;
    margin: 0;
  }
  [data-layout=group] .banner .category {
    display: inline;
    margin-top: var(--baseline);
  }
  [data-layout=group] .banner .group-title {
    grid-column: 1;
    grid-row: 2;
    margin-top: var(--baseline);
  }
  [data-layout=group] .banner .infos {
    grid-column: 1;
    grid-row: 3;
    margin-left: 0;
    align-self: end;
  }
}
@media screen and (max-width: 660px) and (min-width: 640px) and (min-width: 690px) {
  [data-layout=group] .banner {
    grid-template-columns: 2fr 1fr;
  }
}
@media screen and (max-width: 660px) and (min-width: 640px) {
  [data-layout=group-list] {
    height: auto;
  }
}
.banner-keywords h1 {
  margin-bottom: calc(var(--baseline) * 1.5);
  font-family: var(--font-title);
  font-size: var(--size-title-small);
  line-height: calc(var(--baseline) * 1.5);
  font-weight: normal;
  margin-bottom: calc(var(--baseline) * 1.5);
  color: var(--color-text);
}
.banner-keywords .keyword {
  font-size: var(--size-small);
  line-height: calc(var(--baseline) * 0.75);
  display: inline-flex;
  border: 1px solid var(--color-text);
  color: var(--color-text);
  padding: 0ch 1ch;
  align-items: center;
  height: 3.4ch;
  border-bottom-right-radius: 1ch;
  margin-bottom: calc(var(--baseline) * 0.25);
  display: block;
}
.banner-keywords .keyword a {
  border-bottom: none !important;
  text-decoration: none !important;
}
.banner-keywords .keyword::before {
  content: "# ";
}
.banner-keywords .keyword:hover {
  cursor: pointer;
  color: var(--color);
  border: 1px solid var(--color);
}
.banner-keywords .keyword .nbr {
  margin-left: 1.5ch;
}
.banner-keywords .keyword.selected {
  background-color: var(--color-text) !important;
  color: var(--color-bg);
}
.banner-keywords .keyword.selected:hover {
  cursor: auto;
  border-color: var(--color-text);
}

@media screen and (max-width: 860px) {
  [data-page-type=keywords] .banner {
    display: none;
  }
  [data-page-type=keywords] .close {
    display: none !important;
  }
}
[data-layout=article] .banner figure {
  margin-bottom: var(--padding-small);
  width: 100%;
}
[data-layout=article] .banner figure img {
  display: flex;
  height: 100%;
}

[data-page-type=authors] .banner {
  color: var(--color);
}
[data-page-type=authors] .banner h1 {
  display: none;
  font-family: var(--font-title);
  font-size: var(--size-title-small);
  line-height: calc(var(--baseline) * 1.5);
  border-bottom: var(--border-dotted);
  font-weight: normal;
  margin-bottom: calc(var(--baseline) * 1.5);
  color: var(--color);
  border-color: var(--color);
  margin-bottom: calc(var(--baseline) * 3);
  font-family: var(--font-title);
  font-size: var(--size-title-small);
  line-height: calc(var(--baseline) * 1.5);
  font-weight: normal;
  margin-bottom: calc(var(--baseline) * 1.5);
  color: var(--color-text);
}
[data-page-type=authors] .banner h2 {
  font-size: var(--size-title);
  margin-top: calc(var(--baseline) * 3);
  margin-bottom: calc(var(--baseline) * 1);
}
[data-page-type=authors] .banner h2:first-of-type {
  margin-top: calc(var(--baseline) * 1);
}
[data-page-type=authors] .banner p {
  color: var(--color-text);
}
[data-page-type=authors] .banner p a:hover {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  text-underline-offset: 2px;
  color: var(--color-text) !important;
}
[data-page-type=authors] .banner p a:hover:hover {
  color: var(--color);
}

@media screen and (max-width: 860px) {
  [data-page-type=authors] .banner {
    display: none;
  }
}
@media screen and (max-width: 860px) {
  .banner-phone {
    display: block;
  }
}
@media screen and (min-width: 860px) {
  .banner-phone {
    display: none;
  }
}
.banner-phone {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 200;
  border-top: 1.5px solid var(--color);
  background-color: var(--color-light);
  width: calc(100% - var(--unit));
  height: calc(var(--unit) * 1.5);
  padding: 0 var(--padding-small);
}
.banner-phone a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.banner-phone svg {
  width: var(--unit);
  height: var(--unit);
  fill: var(--color-x-light);
  background-color: var(--color);
  margin-right: var(--padding-small);
}

#card--article-cover figure {
  border: 1px solid currentColor;
  border-radius: var(--radius);
  background-color: var(--color);
  overflow: hidden;
  display: flex;
  aspect-ratio: 1/1;
  margin-top: calc(var(--baseline) * 1);
}
#card--article-cover figure a {
  width: 100%;
  height: 100%;
}
#card--article-cover figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
}

@container (min-width: 660px) {
  #card--article-cover {
    grid-column: 2;
    grid-row: 3/5;
  }
}
@container (min-width: 960px) {
  #card--article-cover {
    grid-column: 5/end;
    grid-row: 2/4;
  }
}
.card-block {
  padding: calc(var(--padding-small) / 2) var(--padding-small);
  border-radius: var(--radius-small);
  background-color: var(--color-x-light);
  padding-bottom: calc(var(--baseline) * 2);
}
.card-block .type {
  border-bottom: 1.5px solid var(--color);
  color: var(--color);
}
.card-block .infos {
  margin-bottom: calc(var(--baseline) * 0.5);
  font-family: "Abordage", sans-serif;
  color: var(--color);
}
.card-block .group-button {
  font-size: var(--size-small);
  display: flex;
  justify-content: flex-end;
  margin-top: calc(var(--baseline) * 0.5);
  position: absolute;
  bottom: calc(var(--padding-small) / 4);
  right: calc(var(--padding-small) / 2);
}
.card-block .button-outline {
  display: inline-flex;
  border: 1px solid var(--color);
  color: var(--color);
  background-color: transparent;
  padding: 0ch 1ch;
  align-items: center;
  height: 3.4ch;
  border-radius: 2.4ch;
  margin-bottom: calc(var(--baseline) * 0.25);
  margin-right: 0.5ch;
}
.card-block .button-outline:hover {
  background-color: var(--color-light);
}
.card-block .button-full {
  display: inline-flex;
  border: 1px solid var(--color);
  background-color: var(--color);
  color: var(--color-bg-light);
  padding: 0ch 1ch;
  align-items: center;
  height: 3.4ch;
  border-radius: 2.4ch;
  margin-bottom: calc(var(--baseline) * 0.25);
}
.card-block .button-full:hover {
  cursor: pointer;
  background-color: var(--color-dark);
  border-color: var(--color-dark);
}
.card-block h1 {
  font-size: var(--size-title-small) !important;
  line-height: calc(var(--baseline) * 1.1);
  margin-bottom: calc(var(--baseline) * 0.5);
}
.card-block h1 a:hover {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
.card-block .list-articles a:hover {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
.card-block .num {
  display: inline;
  border-bottom: var(--border-dotted);
  border-color: var(--color);
}
.card-block .num + h1 {
  margin-top: calc(var(--baseline) * 0.5);
}
.card-block .description {
  font-size: var(--font-size);
  line-height: calc(var(--baseline) * 1);
}
.card-block .description .texts {
  display: block;
  font-size: var(--size-small);
  line-height: calc(var(--baseline) * 0.75);
}
.card-block .description a:hover {
  text-decoration: underline;
}
.card-block .keywords {
  margin-top: var(--baseline);
}
.card-block .keywords li {
  font-size: var(--size-small);
  line-height: calc(var(--baseline) * 0.75);
  display: inline-flex;
  border: 1px solid currentColor;
  color: currentColor;
  padding: 0ch 1ch;
  align-items: center;
  height: 3.4ch;
  border-bottom-right-radius: 1ch;
  margin-bottom: calc(var(--baseline) * 0.25);
}
.card-block .keywords li a {
  border-bottom: none !important;
  text-decoration: none !important;
}
.card-block .keywords li::before {
  content: "# ";
}
.card-block .keywords li:hover {
  cursor: pointer;
  color: var(--color);
  border: 1px solid var(--color);
}
.card-block .keywords li .nbr {
  margin-left: 1.5ch;
}
.card-block .list-articles {
  margin-left: calc(var(--unit) * 5 + var(--padding-small));
  margin-top: calc(var(--baseline) * 1);
  padding-bottom: calc(var(--baseline) * 0.5);
}
.card-block .list-articles p {
  font-size: var(--size-small);
}
.card-block .list-articles li {
  list-style: disc;
  margin-left: 1.5ch;
  padding-top: calc(var(--baseline) * 0.25);
}

/* PHONE ---------------------- */
@media screen and (max-width: 660px) {
  body {
    --size-title: 36px;
  }
  #card--article-cover,
  .card-actu,
  .card-block[data-type=article],
  .card-block[data-type=dossier] {
    margin-bottom: var(--padding-small);
  }
  #card--article-cover figure {
    height: calc(var(--baseline) * 8);
  }
}
/* HOME current num, full color ---------------------- */
.card {
  margin-bottom: var(--padding-small);
  padding: calc(var(--padding-small) / 2) var(--padding-small);
  border-radius: var(--radius-small);
  background-color: var(--color-x-light);
}
.card:hover {
  background-color: var(--color-light);
}
.card .content > a {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 14ch;
}
.card h1 {
  font-size: var(--font-size);
  border-bottom: 1.5px solid var(--color-text);
  margin-bottom: calc(var(--baseline) * 0.25);
  grid-column: span 2;
}
.card .description {
  font-size: var(--size-small);
  line-height: calc(var(--baseline) * 0.75);
  padding-left: 2.5ch;
}
.card .description::before {
  content: var(--arrow-bottom) " ";
  position: absolute;
  left: 0;
}
.card .details {
  font-size: var(--size-small);
  line-height: calc(var(--baseline) * 0.75);
  text-align: right;
}
.card .keywords {
  margin-top: calc(var(--baseline) * 0.5);
}
.card .keywords li {
  font-size: var(--size-small);
  line-height: calc(var(--baseline) * 0.75);
  display: inline-flex;
  border: 1px solid var(--color-text);
  color: var(--color-text);
  padding: 0ch 1ch;
  align-items: center;
  height: 3.4ch;
  border-bottom-right-radius: 1ch;
  margin-bottom: calc(var(--baseline) * 0.25);
  font-size: var(--size-x-small);
}
.card .keywords li a {
  border-bottom: none !important;
  text-decoration: none !important;
}
.card .keywords li::before {
  content: "# ";
}
.card .keywords li:hover {
  cursor: pointer;
  color: var(--color);
  border: 1px solid var(--color);
}
.card .keywords li .nbr {
  margin-left: 1.5ch;
}

.card-author {
  padding: calc(var(--padding-small) / 2) var(--padding-small);
  border-radius: var(--radius-small);
  background-color: var(--color-x-light);
  margin-bottom: var(--padding-small);
}
.card-author h1 {
  font-size: var(--size-title-medium);
  border-bottom: 1.5px solid var(--color-text);
  padding: calc(var(--baseline) * 0.25) 0;
  margin-bottom: calc(var(--baseline) * 0.5);
}
.card-author .affiliation {
  margin-bottom: calc(var(--baseline) * 0.5);
  padding-left: 2ch;
}
.card-author .affiliation::before {
  content: "→ ";
  position: absolute;
  left: 0;
}
.card-author .bio {
  margin-top: calc(var(--baseline) * 0.5);
  margin-bottom: calc(var(--baseline) * 0.5);
}
.card-author .links {
  list-style-type: disc;
  font-size: var(--size-small);
}
.card-author .links a {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  text-underline-offset: 2px;
}
.card-author .links a:hover {
  color: var(--color);
}
.card-author .list-publis {
  margin-top: var(--baseline);
}
.card-author .list-publis > p {
  font-size: var(--size-small);
  color: var(--color);
  line-height: calc(var(--baseline) * 0.5);
}
.card-author .list-publis ul {
  margin-bottom: calc(var(--baseline) * 0.5);
}
.card-author .list-publis li {
  border-bottom: 1.5px solid var(--color-light);
  position: relative;
  margin-top: calc(var(--baseline) * 0.25);
}
.card-author .list-publis li:hover {
  color: var(--color);
  border-bottom: 1.5px solid var(--color);
}
.card-author .list-publis li a {
  display: block;
  width: 100%;
}
.card-author .list-publis li .title span {
  font-size: var(--size-small);
}
.card-author .list-publis li .title span::before {
  content: "[";
}
.card-author .list-publis li .title span::after {
  content: "]";
}

.card-actu {
  padding: calc(var(--padding-small) / 2) var(--padding-small);
  border-radius: var(--radius-small);
  background-color: var(--color-x-light);
  margin-bottom: var(--padding-small);
}
.card-actu h1 {
  font-size: var(--size-title-medium);
  line-height: calc(var(--baseline) * 1.5);
  line-height: calc(var(--baseline) * 1.25);
  margin-top: calc(var(--baseline) * 0.75) !important;
  margin-bottom: 0px;
}
.card-actu h2 {
  font-family: var(--font-family);
  font-size: var(--font-size);
  padding-right: 3ch;
  margin-top: 0px;
  margin-bottom: calc(var(--baseline) * 0.5);
}
.card-actu .chapo {
  display: none;
}
.card-actu .group-button {
  display: flex;
  justify-content: flex-end;
  margin-top: calc(var(--baseline) * 0.5);
}
.card-actu .button-full {
  font-size: var(--size-small);
  display: inline-flex;
  border: 1px solid var(--color);
  background-color: var(--color);
  color: var(--color-light);
  padding: 0ch 1ch;
  align-items: center;
  height: 3.4ch;
  border-radius: 2.4ch;
  margin-bottom: calc(var(--baseline) * 0.25);
}
.card-actu .button-full:hover {
  cursor: pointer;
  background-color: var(--color-dark);
  border-color: var(--color-dark);
}
.card-actu figure {
  width: 100%;
  overflow: hidden;
  background-color: var(--color);
  border-radius: var(--radius);
  margin-top: calc(var(--baseline) * 0.5);
  max-height: calc(var(--baseline) * 8);
  overflow: hidden;
  border: none;
}
.card-actu figure img {
  display: flex;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

[data-page-type=actualites] .card-actu {
  color: var(--color-text);
  padding-bottom: calc(var(--baseline) * 2);
  padding-bottom: calc(var(--baseline) * 2);
}
[data-page-type=actualites] .card-actu .type, [data-page-type=actualites] .card-actu .button-outline {
  display: none !important;
}
[data-page-type=actualites] .card-actu .infos {
  border-bottom: 1.5px solid var(--color);
}
[data-page-type=actualites] .card-actu button {
  font-size: var(--size-x-small) !important;
}

.header-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: calc(var(--baseline) * 0.5);
}
.header-list .keyword-selected {
  max-width: calc(100% - 14ch);
}
.header-list .keyword-selected p {
  font-size: var(--size-small);
  line-height: calc(var(--baseline) * 0.75);
  display: inline-flex;
  border: 1px solid var(--color);
  color: var(--color);
  padding: 0ch 1ch;
  align-items: center;
  height: 3.4ch;
  border-bottom-right-radius: 1ch;
  margin-bottom: calc(var(--baseline) * 0.25);
  background-color: var(--color);
  color: var(--color-bg);
  margin-right: 1ch;
}
.header-list .keyword-selected p a {
  border-bottom: none !important;
  text-decoration: none !important;
}
.header-list .keyword-selected p::before {
  content: "# ";
}
.header-list .keyword-selected p:hover {
  cursor: pointer;
  color: var(--color);
  border: 1px solid var(--color);
}
.header-list .keyword-selected p .nbr {
  margin-left: 1.5ch;
}
.header-list .keyword-selected p:hover {
  background-color: var(--color-medium);
  color: var(--color-bg) !important;
  cursor: pointer;
}
.header-list .keyword-selected button {
  display: inline-flex;
  border: 1px solid var(--color);
  color: var(--color);
  background-color: transparent;
  padding: 0ch 1ch;
  align-items: center;
  height: 3.4ch;
  border-radius: 2.4ch;
  margin-bottom: calc(var(--baseline) * 0.25);
  font-size: var(--size-small);
}
.header-list .keyword-selected button:hover {
  background-color: var(--color-light);
}
.header-list .total-cards li {
  display: inline;
  padding-left: 2ch;
  font-size: var(--size-small);
  color: var(--color);
}
.header-list .form-search {
  top: calc(var(--baseline) * -0.25);
}
.header-list .form-search button svg {
  width: 20px;
  top: 6px;
  margin-right: 5px;
  fill: var(--color);
}
.header-list .form-search input {
  border: 1.5px solid var(--color);
  font-family: var(--font-family);
  font-size: var(--size-small);
  padding-left: 0.5ch;
  height: calc(var(--baseline) * 1);
  color: var(--color);
}

.header-content .category {
  font-size: var(--size-small);
  color: var(--color);
  letter-spacing: 0.2px;
  margin-bottom: calc(var(--baseline) * 1);
  display: inline-block;
}
.header-content .infos {
  display: inline-block;
  font-size: var(--size-small);
  color: var(--color);
}
.header-content .infos span::before {
  content: " " var(--point) " ";
}
.header-content h1 {
  font-family: var(--font-title);
  font-size: var(--size-title);
  font-weight: normal;
  line-height: calc(var(--baseline) * 2.5);
  margin-bottom: calc(var(--baseline) * 1);
  border: none;
}
.header-content .contexte {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.header-content .contexte a {
  font-family: "Abordage", sans-serif;
  font-size: var(--size-small);
  line-height: calc(var(--baseline) * 0.75);
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  text-underline-offset: 2px;
}
.header-content .contexte a:hover {
  color: var(--color);
}
.header-content p[data-type=numero] {
  display: inline-flex;
  border: 1px solid var(--color);
  color: var(--color);
  background-color: transparent;
  padding: 0ch 1ch;
  align-items: center;
  height: 3.4ch;
  border-radius: 2.4ch;
  margin-bottom: calc(var(--baseline) * 0.25);
}
.header-content p[data-type=numero]:hover {
  background-color: var(--color-light);
}
.header-content p[data-type=dossier] {
  display: inline-flex;
  border: 1px solid var(--color);
  color: var(--color);
  background-color: transparent;
  padding: 0ch 1ch;
  align-items: center;
  height: 3.4ch;
  border-radius: 2.4ch;
  margin-bottom: calc(var(--baseline) * 0.25);
}
.header-content p[data-type=dossier]:hover {
  background-color: var(--color-light);
}

[data-layout=static] .header-content {
  margin-bottom: calc(var(--baseline) * 1.5);
}

@media screen and (max-width: 660px) {
  .header-content h1 {
    line-height: calc(var(--baseline) * 1.75);
  }
  [data-layout=full] .header-content {
    padding: 0 var(--padding-small);
  }
}
@media screen and (max-width: 860px) {
  [data-type=site] .header-content {
    padding-top: calc(var(--baseline) * 1.5);
  }
}
.footer-content {
  font-size: var(--size-small);
  text-align: right;
  color: var(--color-text-light);
  margin-top: calc(var(--baseline) * 3);
}

.section-infos a {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  text-underline-offset: 2px;
}
.section-infos a:hover {
  color: var(--color);
}
.section-infos .group {
  -moz-columns: 2;
       columns: 2;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.section-infos .group h2 {
  -moz-column-span: all;
       column-span: all;
}
.section-infos .group div {
  -moz-column-break-inside: avoid;
       break-inside: avoid;
}
@media screen and (max-width: 660px) {
  .section-infos .group {
    -moz-columns: 1;
         columns: 1;
  }
}
.section-infos h2 {
  font-weight: normal;
  font-family: var(--font-title);
  font-size: var(--font-size);
  border-bottom: 1.5px solid var(--color);
  color: var(--color);
  margin-bottom: calc(var(--baseline) * 0.75);
  margin-top: calc(var(--baseline) * 1);
}
.section-infos h3 {
  font-size: var(--size-small);
  font-weight: 500;
  color: var(--color);
}
.section-infos div {
  margin-bottom: var(--baseline);
}
.section-infos .author-name {
  margin-block-start: var(--baseline);
}
.section-infos .author-description {
  font-size: var(--size-small);
  line-height: calc(var(--baseline) * 0.75);
  margin-top: calc(var(--baseline) * 0.25);
  margin-bottom: calc(var(--baseline) * 0.5);
}
.section-infos .keywords ul li {
  font-size: var(--size-small);
  line-height: calc(var(--baseline) * 0.75);
  display: inline-flex;
  border: 1px solid var(--color-text);
  color: var(--color-text);
  padding: 0ch 1ch;
  align-items: center;
  height: 3.4ch;
  border-bottom-right-radius: 1ch;
  margin-bottom: calc(var(--baseline) * 0.25);
  font-size: var(--size-small);
}
.section-infos .keywords ul li a {
  border-bottom: none !important;
  text-decoration: none !important;
}
.section-infos .keywords ul li::before {
  content: "# ";
}
.section-infos .keywords ul li:hover {
  cursor: pointer;
  color: var(--color);
  border: 1px solid var(--color);
}
.section-infos .keywords ul li .nbr {
  margin-left: 1.5ch;
}

@media screen and (min-width: 860px) {
  #bulles {
    margin-left: calc(var(--w-header) + var(--w-banner));
    width: calc(100vw - var(--w-header) - var(--w-banner));
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
  }
  [data-layout=home] #bulles {
    margin-left: calc(var(--w-header));
    width: calc(100vw - var(--w-header));
    display: none;
  }
}
#full-bd {
  width: calc(100vw - var(--w-header));
  height: 100vh;
  position: fixed;
  left: var(--w-header);
  top: 0px;
  background-color: var(--color-light);
  transition: all 0.5s;
  z-index: 800;
}
#full-bd header {
  color: var(--color);
  margin: 0 30px;
  padding-top: calc(var(--baseline) * 0.75);
  padding-bottom: calc(var(--baseline) * 0.5);
  border-bottom: 1px solid var(--color);
  font-family: var(--font-title);
  display: flex;
  justify-content: space-between;
}
#full-bd header button {
  color: var(--color);
}
#full-bd .content {
  height: calc(100vh - var(--baseline) * 2.5);
  padding: calc(var(--baseline) * 1.5) 0px;
}
#full-bd .content button {
  font-size: var(--size-title);
  color: var(--color);
  position: absolute;
  top: calc(50% - var(--baseline));
  z-index: 100;
}
#full-bd .content .button-prev {
  left: 30px;
}
#full-bd .content .button-next {
  right: 30px;
}

.swiper {
  --swiper-margin: 5vw;
}

.swiper-button-next,
.swiper-button-prev {
  font-size: 4rem !important;
  top: 2rem !important;
  width: 19vw !important;
  height: 92vh !important;
  text-align: left;
  color: var(--orange) !important;
}

.swiper-button-next {
  right: var(--swiper-margin) !important;
  justify-content: flex-end !important;
}

.swiper-button-prev {
  left: var(--swiper-margin) !important;
  justify-content: flex-start !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: none !important;
}

.swiper-slide {
  height: 92vh !important;
  text-align: center;
}

.swiper-slide-active {
  z-index: 1;
}

.swiper-slide-zoomed .swiper-zoom-container {
  cursor: zoom-out;
}

.swiper-zoom-container {
  cursor: zoom-in;
}

.swiper img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.3s ease-in-out;
}

.swiper-slide:not(.swiper-slide-active) img {
  width: 50%;
  opacity: 0.5;
}

#full-bd {
  display: none;
}

.bd-open #full-bd {
  display: block;
}

#edito .group {
  margin-bottom: calc(var(--baseline));
}
#edito #text-edito .content {
  margin-right: 3ch;
}
#edito #text-edito .content .chapo {
  margin-bottom: calc(var(--baseline) * 2);
  border-top: var(--border-dotted);
  border-bottom: var(--border-dotted);
  padding-top: calc(var(--baseline) * 1);
  padding-bottom: calc(var(--baseline) * 0.75);
}
#edito #text-edito .content .chapo p {
  font-size: calc(var(--font-size) * 1.4);
  line-height: calc(var(--baseline) * 1.25);
}
#edito #text-edito .content .chapo + figure {
  margin-top: calc(var(--baseline) * -1.5) !important;
}
#edito #text-edito .content h2 {
  font-family: var(--font-title);
  font-size: var(--size-title-medium);
  line-height: calc(var(--baseline) * 1.25);
  max-width: 90%;
  font-weight: normal;
  margin-top: calc(var(--baseline) * 2);
  margin-bottom: calc(var(--baseline) * 1);
}
#edito #text-edito .content h3 {
  font-family: var(--font-title);
  font-size: var(--size-title-small);
  line-height: calc(var(--baseline) * 1);
  max-width: 90%;
  font-weight: normal;
  margin-top: calc(var(--baseline) * 1.5);
  margin-bottom: calc(var(--baseline) * 0.5);
  padding-left: 2.5ch;
}
#edito #text-edito .content h3::before {
  content: var(--arrow-bottom) " ";
  position: absolute;
  left: 0;
}
#edito #text-edito .content h4 {
  font-family: var(--font-family);
  text-decoration: underline;
  margin-top: calc(var(--baseline) * 1.5);
  margin-bottom: calc(var(--baseline) * 0.5);
}
#edito #text-edito .content h2 + h3 {
  margin-top: 0px;
}
#edito #text-edito .content p {
  margin-bottom: calc(var(--baseline) * 0.5);
}
#edito #text-edito .content ul li {
  padding-left: 2ch;
  margin-bottom: calc(var(--baseline) * 0.25);
}
#edito #text-edito .content ul li::before {
  content: "→ ";
  position: absolute;
  left: 0;
}
#edito #text-edito .content a {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  text-underline-offset: 2px;
}
#edito #text-edito .content a:hover {
  color: var(--color);
}
#edito #text-edito .content hr {
  border: none;
  border-top: var(--border-dotted);
}
#edito .authors-edito {
  margin-top: var(--baseline);
  max-width: 48ch;
}
#edito .group-button {
  font-size: var(--size-small);
  display: flex;
  justify-content: flex-end;
  margin-top: calc(var(--baseline) * 0.75);
}
#edito .group-button .button-outline {
  display: inline-flex;
  border: 1px solid var(--color);
  color: var(--color);
  background-color: transparent;
  padding: 0ch 1ch;
  align-items: center;
  height: 3.4ch;
  border-radius: 2.4ch;
  margin-bottom: calc(var(--baseline) * 0.25);
}
#edito .group-button .button-outline:hover {
  background-color: var(--color-light);
}
#edito .group-button .button-full {
  display: inline-flex;
  border: 1px solid var(--color);
  background-color: var(--color);
  color: var(--color-bg);
  padding: 0ch 1ch;
  align-items: center;
  height: 3.4ch;
  border-radius: 2.4ch;
  margin-bottom: calc(var(--baseline) * 0.25);
}
#edito .group-button .button-full:hover {
  cursor: pointer;
  background-color: var(--color-dark);
  border-color: var(--color-dark);
}
#edito #toggle-edito {
  display: none;
}
#edito #close-edito {
  display: block;
}
#edito #read-edito {
  display: none;
}
#edito #toggle-edito:checked ~ #text-edito .content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
}
#edito #toggle-edito:checked ~ #text-edito #close-edito {
  display: none;
}
#edito #toggle-edito:checked ~ #text-edito #read-edito {
  display: block;
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 201;
  top: 0;
  left: var(--w-header);
  width: calc(100vw - var(--w-header));
  height: 100vh;
  background-color: #fff;
  padding: var(--padding-large);
  padding-top: calc(var(--padding-large) * 1.5);
}
.lightbox.show {
  display: block;
}
.lightbox figure {
  width: 100%;
  height: 100%;
}
.lightbox button.close {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  top: 1rem;
  right: 1rem;
  font-size: var(--font-size);
  display: block;
  padding: 0.5ch 1ch;
  display: inline-flex;
  border: 1px solid var(--color);
  background-color: var(--color);
  color: var(--color-bg);
  padding: 0ch 1ch;
  align-items: center;
  height: 3.4ch;
  border-radius: 2.4ch;
  margin-bottom: calc(var(--baseline) * 0.25);
  display: flex;
  justify-content: space-between;
  width: 10ch;
}
.lightbox button.close:hover {
  cursor: pointer;
  background-color: var(--color-dark);
  border-color: var(--color-dark);
}
.lightbox button.close::after {
  content: " ✕";
  position: relative;
  top: 1px;
}
.lightbox img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 660px) {
  .lightbox {
    padding: var(--padding-small);
    padding-top: calc(var(--padding-small) * 1.5);
  }
}
#main-footer {
  text-align: center;
  padding: 1rem 0;
  padding-left: calc(var(--w-header) * 1);
  width: 100%;
}
#main-footer a:hover {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

[data-page-type=authors] #main-footer,
[data-page-type=keywords] #main-footer,
[data-type=numero] #main-footer,
[data-type=dossier] #main-footer,
[data-type=article] #main-footer {
  padding-left: calc(var(--w-header) + var(--w-banner));
}

[data-page-type=list-dossiers] #main-footer,
[data-page-type=list-numeros] #main-footer {
  display: none;
}

@media screen and (max-width: 860px) {
  #main-footer {
    margin-left: 0;
    padding-left: calc(var(--unit) + 1rem) !important;
    padding-right: 1rem;
  }
  [data-type=article] #main-footer {
    display: none;
  }
  [data-type=article] main {
    padding-bottom: 0 !important;
  }
}
[data-layout=home] main {
  container-type: inline-size;
  container-name: home;
}
[data-layout=home] main #uppa,
[data-layout=home] main #puppa {
  width: 100px;
  margin-right: 20px;
}
[data-layout=home] main #uppa svg,
[data-layout=home] main #uppa path,
[data-layout=home] main #puppa svg,
[data-layout=home] main #puppa path {
  fill: var(--color);
}
[data-layout=home] main #logos-phone {
  display: none;
}
[data-layout=home] main #logos-phone svg,
[data-layout=home] main #logos-phone path {
  fill: var(--color);
}
[data-layout=home] main #logo-home {
  grid-column: 1;
  grid-row: 1;
  width: 250px;
  fill: var(--color);
}
[data-layout=home] main .home-infos {
  color: var(--color);
  font-size: var(--size-small);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
[data-layout=home] main .home-infos button {
  display: inline-flex;
  border: 1px solid var(--color);
  background-color: var(--color);
  color: var(--color-bg);
  padding: 0ch 1ch;
  align-items: center;
  height: 3.4ch;
  border-radius: 2.4ch;
  margin-bottom: calc(var(--baseline) * 0.25);
  margin-top: 1ch;
  margin-left: 2ch;
}
[data-layout=home] main .home-infos button:hover {
  cursor: pointer;
  background-color: var(--color-dark);
  border-color: var(--color-dark);
}
[data-layout=home] main > section, [data-layout=home] main > article {
  min-height: calc(var(--baseline) * 6);
  width: 100%;
  height: 100%;
}
[data-layout=home] main #section-current-num figure {
  border-radius: var(--radius);
  background-color: var(--color-light);
  overflow: hidden;
  display: flex;
}
[data-layout=home] main #section-current-num figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
[data-layout=home] main #section-actus {
  padding-bottom: calc(var(--baseline) * 2);
}
[data-layout=home] main #section-actus figure {
  display: none;
}
[data-layout=home] main #section-actus h1 {
  padding-bottom: calc(var(--baseline) * 0.5);
}
[data-layout=home] main #section-keywords ul {
  padding-top: calc(var(--baseline) * 1);
}
[data-layout=home] main #section-keywords li {
  font-size: var(--size-small);
  font-size: var(--size-small);
  line-height: calc(var(--baseline) * 0.75);
  display: inline-flex;
  border: 1px solid var(--color);
  color: var(--color);
  padding: 0ch 1ch;
  align-items: center;
  height: 3.4ch;
  border-bottom-right-radius: 1ch;
  margin-bottom: calc(var(--baseline) * 0.25);
}
[data-layout=home] main #section-keywords li a {
  border-bottom: none !important;
  text-decoration: none !important;
}
[data-layout=home] main #section-keywords li::before {
  content: "# ";
}
[data-layout=home] main #section-keywords li:hover {
  cursor: pointer;
  color: var(--color);
  border: 1px solid var(--color);
}
[data-layout=home] main #section-keywords li .nbr {
  margin-left: 1.5ch;
}
[data-layout=home] main button {
  font-size: var(--size-x-small) !important;
}

@media screen and (max-width: 1024px) {
  #logo-home {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  #logo-home {
    display: none;
  }
}
@container home (min-width: 660px) {
  #main-home {
    max-width: 100vw;
    display: grid;
    grid-gap: var(--padding-small);
    grid-template-columns: calc(50% - var(--padding-small) / 2) calc(50% - var(--padding-small) / 2);
    padding: var(--padding-small);
  }
  #main-home .home-infos {
    grid-column: 1/3;
    grid-row: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  #main-home #section-current-num {
    max-width: 100%;
    grid-column: 1/3;
    grid-row: 2;
    min-height: calc(var(--baseline) * 9 + var(--padding-small) * 1);
  }
  #main-home #section-current-num figure {
    width: calc(var(--unit) * 5);
    height: calc(var(--baseline) * 10);
    float: left;
    margin-top: calc(var(--baseline) * 0.75);
    margin-right: var(--padding-small);
    margin-bottom: calc(var(--baseline) * -1.5);
  }
  #main-home #section-actus {
    grid-column: 1;
    grid-row: 3;
    height: 100%;
  }
}
@container home (min-width: 960px) {
  #main-home {
    display: grid;
    grid-gap: var(--padding-small);
    grid-template-columns: repeat(6, 1fr);
    padding: var(--padding-small);
  }
  #main-home .home-infos {
    grid-column: 1/end;
    grid-row: 1;
  }
  #main-home #section-current-num {
    grid-column: 1/5;
    grid-row: 2;
  }
  #main-home #section-actus {
    grid-column: 1/3;
    grid-row: 3;
  }
  #main-home #section-keywords {
    grid-column: 5/end;
    grid-row: 4;
  }
  #main-home article {
    grid-column: span 2;
  }
}
@container home (min-width: 920px) {
  #main-home {
    padding: var(--padding-small) var(--padding);
  }
}
@container home (max-width: 660px) {
  [data-layout=home] main #logos-phone {
    display: flex;
  }
  #main-home {
    display: block;
    padding: var(--padding-small);
    margin-bottom: 20vh;
  }
  #main-home #logo-home {
    margin-top: var(--padding-small);
  }
  #main-home .home-infos {
    margin: var(--padding-small);
  }
  #main-home #section-current-num,
  #main-home #section-actus {
    margin-bottom: calc(var(--padding-small));
  }
  #main-home #section-current-num .group-button,
  #main-home #section-actus .group-button {
    bottom: calc(var(--baseline) * 0.75);
  }
  #main-home #section-current-num .content {
    display: flex;
    flex-direction: column;
  }
  #main-home #section-current-num h1 {
    display: none;
    order: 1;
    margin-top: calc(var(--baseline) * 1);
  }
  #main-home #section-current-num figure {
    order: 3;
    width: 100%;
    max-width: calc(var(--unit) * 8);
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: calc(var(--baseline) * 0.75);
  }
  #main-home #section-current-num .infos {
    order: 2;
  }
  #main-home #section-current-num .list-articles {
    display: none;
  }
}
@media screen and (max-width: 697px) {
  [data-layout=home] #logo-home {
    margin-top: calc(var(--baseline) * 1.5);
  }
  [data-layout=home] #uppa,
  [data-layout=home] #puppa {
    display: none;
  }
  [data-layout=home] #main-home .home-infos {
    margin: 0;
    margin-bottom: var(--padding-small);
  }
  [data-layout=home] #logos-phone {
    padding: var(--padding-small);
    display: flex;
  }
  [data-layout=home] #logos-phone #uppa-phone,
  [data-layout=home] #logos-phone #puppa-phone {
    width: 45%;
  }
  [data-layout=home] #logos-phone #uppa-phone {
    margin-right: 20px;
  }
}
@media screen and (max-width: 540px) {
  [data-layout=home] #logo-home {
    width: calc(100vw - var(--unit) - var(--padding-small) * 2) !important;
  }
  [data-layout=home] .home-infos {
    margin-right: var(--padding-small);
    margin-top: calc(var(--baseline) * 0.25);
    margin-bottom: calc(var(--baseline) * 0.75);
  }
  [data-layout=home] .home-infos .universite {
    display: none;
  }
}
@media screen and (min-width: 860px) {
  [data-layout=home] main {
    padding: 0;
    width: calc(100vw - var(--w-header));
    margin: 0;
    margin-left: calc(var(--w-header) * 1);
  }
}
[data-type=article] #article-infos {
  margin-top: calc(var(--baseline) * 2);
}
[data-type=article] #article-content,
[data-type=article] #article-biblio {
  margin-top: calc(var(--baseline) * 3);
  padding-top: calc(var(--baseline) * 2);
  border-top: var(--border-dotted);
}
[data-type=article] #article-content .chapo,
[data-type=article] #article-biblio .chapo {
  margin-bottom: calc(var(--baseline) * 2);
  border-top: var(--border-dotted);
  border-bottom: var(--border-dotted);
  padding-top: calc(var(--baseline) * 1);
  padding-bottom: calc(var(--baseline) * 0.75);
}
[data-type=article] #article-content .chapo p,
[data-type=article] #article-biblio .chapo p {
  font-size: calc(var(--font-size) * 1.4);
  line-height: calc(var(--baseline) * 1.25);
}
[data-type=article] #article-content .chapo + figure,
[data-type=article] #article-biblio .chapo + figure {
  margin-top: calc(var(--baseline) * -1.5) !important;
}
[data-type=article] #article-content h2,
[data-type=article] #article-biblio h2 {
  font-family: var(--font-title);
  font-size: var(--size-title-medium);
  line-height: calc(var(--baseline) * 1.25);
  max-width: 90%;
  font-weight: normal;
  margin-top: calc(var(--baseline) * 2);
  margin-bottom: calc(var(--baseline) * 1);
}
[data-type=article] #article-content h3,
[data-type=article] #article-biblio h3 {
  font-family: var(--font-title);
  font-size: var(--size-title-small);
  line-height: calc(var(--baseline) * 1);
  max-width: 90%;
  font-weight: normal;
  margin-top: calc(var(--baseline) * 1.5);
  margin-bottom: calc(var(--baseline) * 0.5);
  padding-left: 2.5ch;
}
[data-type=article] #article-content h3::before,
[data-type=article] #article-biblio h3::before {
  content: var(--arrow-bottom) " ";
  position: absolute;
  left: 0;
}
[data-type=article] #article-content h4,
[data-type=article] #article-biblio h4 {
  font-family: var(--font-family);
  text-decoration: underline;
  margin-top: calc(var(--baseline) * 1.5);
  margin-bottom: calc(var(--baseline) * 0.5);
}
[data-type=article] #article-content h2 + h3,
[data-type=article] #article-biblio h2 + h3 {
  margin-top: 0px;
}
[data-type=article] #article-content p,
[data-type=article] #article-biblio p {
  margin-bottom: calc(var(--baseline) * 0.5);
}
[data-type=article] #article-content ul li,
[data-type=article] #article-biblio ul li {
  padding-left: 2ch;
  margin-bottom: calc(var(--baseline) * 0.25);
}
[data-type=article] #article-content ul li::before,
[data-type=article] #article-biblio ul li::before {
  content: "→ ";
  position: absolute;
  left: 0;
}
[data-type=article] #article-content a,
[data-type=article] #article-biblio a {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  text-underline-offset: 2px;
}
[data-type=article] #article-content a:hover,
[data-type=article] #article-biblio a:hover {
  color: var(--color);
}
[data-type=article] #article-content hr,
[data-type=article] #article-biblio hr {
  border: none;
  border-top: var(--border-dotted);
}
[data-type=article] #article-content figure,
[data-type=article] #article-biblio figure {
  margin: calc(var(--baseline) * 1.5) auto;
  width: 100%;
  height: 400px;
  padding: var(--baseline);
  border-radius: 5px;
}
[data-type=article] #article-content figure img,
[data-type=article] #article-biblio figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
[data-type=article] #article-biblio {
  margin-top: calc(var(--baseline) * 3);
  border-top: var(--border-dotted);
}
[data-type=article] #article-biblio h2 {
  margin-top: 0px;
}
[data-type=article] #article-biblio p {
  padding-left: 5ch;
  text-indent: -5ch;
}
[data-type=article] #article-content figure {
  cursor: pointer;
}

@media screen and (max-width: 660px) {
  [data-layout=article] #main-content {
    margin-bottom: 0px !important;
  }
}
[data-type=actu] #actu-header .h1-small {
  font-family: var(--font-title);
  font-size: var(--size-title-medium);
  line-height: calc(var(--baseline) * 1.5);
}
[data-type=actu] #actu-header .publication-date {
  margin-top: calc(var(--baseline) * 1);
  text-align: right;
  font-size: var(--size-small);
}
[data-type=actu] #actu-content .chapo {
  margin-bottom: calc(var(--baseline) * 2);
  border-top: var(--border-dotted);
  border-bottom: var(--border-dotted);
  padding-top: calc(var(--baseline) * 1);
  padding-bottom: calc(var(--baseline) * 0.75);
}
[data-type=actu] #actu-content .chapo p {
  font-size: calc(var(--font-size) * 1.4);
  line-height: calc(var(--baseline) * 1.25);
}
[data-type=actu] #actu-content .chapo + figure {
  margin-top: calc(var(--baseline) * -1.5) !important;
}
[data-type=actu] #actu-content h2 {
  font-family: var(--font-title);
  font-size: var(--size-title-medium);
  line-height: calc(var(--baseline) * 1.25);
  max-width: 90%;
  font-weight: normal;
  margin-top: calc(var(--baseline) * 2);
  margin-bottom: calc(var(--baseline) * 1);
}
[data-type=actu] #actu-content h3 {
  font-family: var(--font-title);
  font-size: var(--size-title-small);
  line-height: calc(var(--baseline) * 1);
  max-width: 90%;
  font-weight: normal;
  margin-top: calc(var(--baseline) * 1.5);
  margin-bottom: calc(var(--baseline) * 0.5);
  padding-left: 2.5ch;
}
[data-type=actu] #actu-content h3::before {
  content: var(--arrow-bottom) " ";
  position: absolute;
  left: 0;
}
[data-type=actu] #actu-content h4 {
  font-family: var(--font-family);
  text-decoration: underline;
  margin-top: calc(var(--baseline) * 1.5);
  margin-bottom: calc(var(--baseline) * 0.5);
}
[data-type=actu] #actu-content h2 + h3 {
  margin-top: 0px;
}
[data-type=actu] #actu-content p {
  margin-bottom: calc(var(--baseline) * 0.5);
}
[data-type=actu] #actu-content ul li {
  padding-left: 2ch;
  margin-bottom: calc(var(--baseline) * 0.25);
}
[data-type=actu] #actu-content ul li::before {
  content: "→ ";
  position: absolute;
  left: 0;
}
[data-type=actu] #actu-content a {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  text-underline-offset: 2px;
}
[data-type=actu] #actu-content a:hover {
  color: var(--color);
}
[data-type=actu] #actu-content hr {
  border: none;
  border-top: var(--border-dotted);
}
[data-type=actu] #actu-content figure {
  margin: calc(var(--baseline) * 1.5) auto;
  width: 100%;
  height: 400px;
  padding: var(--baseline);
  border-radius: 5px;
}
[data-type=actu] #actu-content figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
[data-type=actu] #actu-content figure {
  margin: 0;
}

[data-layout=group] #list-articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--padding-small);
  margin-top: calc(var(--baseline));
}
[data-layout=group] .header-content + .keywords {
  margin-bottom: calc(var(--baseline) * 1);
}
[data-layout=group] .header-content + .keywords li {
  font-size: var(--size-small);
  line-height: calc(var(--baseline) * 0.75);
  display: inline-flex;
  border: 1px solid var(--color-text);
  color: var(--color-text);
  padding: 0ch 1ch;
  align-items: center;
  height: 3.4ch;
  border-bottom-right-radius: 1ch;
  margin-bottom: calc(var(--baseline) * 0.25);
}
[data-layout=group] .header-content + .keywords li a {
  border-bottom: none !important;
  text-decoration: none !important;
}
[data-layout=group] .header-content + .keywords li::before {
  content: "# ";
}
[data-layout=group] .header-content + .keywords li:hover {
  cursor: pointer;
  color: var(--color);
  border: 1px solid var(--color);
}
[data-layout=group] .header-content + .keywords li .nbr {
  margin-left: 1.5ch;
}
[data-layout=group] .header-content .authors {
  display: none;
}
@media screen and (max-width: 860px) {
  [data-layout=group] .banner {
    display: none;
  }
  [data-layout=group] #main-content {
    padding: var(--padding-small);
  }
  [data-layout=group] #main-content .header-content .authors {
    display: block;
  }
  [data-layout=group] #main-content .keywords {
    margin-top: calc(var(--baseline) * 0.5);
  }
}

[data-layout=group] #main-content {
  container-type: inline-size;
  container-name: mainGroup;
}

@container mainGroup (max-width: 580px) {
  #list-articles {
    display: block !important;
  }
  #list-articles .card-block {
    margin-bottom: var(--padding-small);
  }
}
[data-layout=group-list] {
  background-color: var(--color-light);
}

@media screen and (min-width: 860px) {
  [data-layout=group-list] .container-banners {
    left: var(--w-header);
    transition: left 0.5s;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    width: calc(var(--w-grid) * var(--group-nbr));
  }
  [data-layout=group-list] .container-banners .banner {
    border-right: var(--w-border) solid var(--color);
    display: block;
    width: var(--w-grid);
    height: 100vh;
    padding: var(--padding);
    overflow-y: scroll;
  }
}
[data-page-type=static] #main-content .chapo {
  margin-bottom: calc(var(--baseline) * 2);
  border-top: var(--border-dotted);
  border-bottom: var(--border-dotted);
  padding-top: calc(var(--baseline) * 1);
  padding-bottom: calc(var(--baseline) * 0.75);
}
[data-page-type=static] #main-content .chapo p {
  font-size: calc(var(--font-size) * 1.4);
  line-height: calc(var(--baseline) * 1.25);
}
[data-page-type=static] #main-content .chapo + figure {
  margin-top: calc(var(--baseline) * -1.5) !important;
}
[data-page-type=static] #main-content h2 {
  font-family: var(--font-title);
  font-size: var(--size-title-medium);
  line-height: calc(var(--baseline) * 1.25);
  max-width: 90%;
  font-weight: normal;
  margin-top: calc(var(--baseline) * 2);
  margin-bottom: calc(var(--baseline) * 1);
}
[data-page-type=static] #main-content h3 {
  font-family: var(--font-title);
  font-size: var(--size-title-small);
  line-height: calc(var(--baseline) * 1);
  max-width: 90%;
  font-weight: normal;
  margin-top: calc(var(--baseline) * 1.5);
  margin-bottom: calc(var(--baseline) * 0.5);
  padding-left: 2.5ch;
}
[data-page-type=static] #main-content h3::before {
  content: var(--arrow-bottom) " ";
  position: absolute;
  left: 0;
}
[data-page-type=static] #main-content h4 {
  font-family: var(--font-family);
  text-decoration: underline;
  margin-top: calc(var(--baseline) * 1.5);
  margin-bottom: calc(var(--baseline) * 0.5);
}
[data-page-type=static] #main-content h2 + h3 {
  margin-top: 0px;
}
[data-page-type=static] #main-content p {
  margin-bottom: calc(var(--baseline) * 0.5);
}
[data-page-type=static] #main-content ul li {
  padding-left: 2ch;
  margin-bottom: calc(var(--baseline) * 0.25);
}
[data-page-type=static] #main-content ul li::before {
  content: "→ ";
  position: absolute;
  left: 0;
}
[data-page-type=static] #main-content a {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  text-underline-offset: 2px;
}
[data-page-type=static] #main-content a:hover {
  color: var(--color);
}
[data-page-type=static] #main-content hr {
  border: none;
  border-top: var(--border-dotted);
}
[data-page-type=static] #main-content figure {
  margin: calc(var(--baseline) * 1.5) auto;
  width: 100%;
  height: 400px;
  padding: var(--baseline);
  border-radius: 5px;
}
[data-page-type=static] #main-content figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=style.css.map */