.banner-keywords{

    h1{
            margin-bottom: calc(var(--baseline)*1.5);
            font-family: var(--font-title);
            font-size: var(--size-title-small);
            line-height: calc(var(--baseline)*1.5);
            font-weight: normal;
            margin-bottom: calc(var(--baseline)*1.5);
            color: var(--color-text);
    }
    .keyword{
        @include tag(var(--color-text));
        display: block;
        &.selected{
            background-color: var(--color-text)!important;
            color: var(--color-bg);
            &:hover{
                cursor: auto;
                border-color: var(--color-text);

            }

        }
    }
       
    
}



@media #{$tablet} {
    [data-page-type="keywords"]{
        .banner{
            display: none;    
        }

        .close{ display: none!important; }

    }
}