[data-layout="article"] .banner {
  figure {
    margin-bottom: var(--padding-small);
    width: 100%;
    // border: 1px solid var(--color-medium);
    img {
      display: flex;
      height: 100%;
    }
  }
}
