@media #{$tablet} {
    .banner-phone{ display: block; }
}

@media #{$notablet} {
    .banner-phone{ display: none; }
}
    
    
.banner-phone{


    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 200;

    border-top: 1.5px solid var(--color);
    background-color: var(--color-light);
    width: calc(100% - var(--unit));
    height: calc(var(--unit)*1.5);
    padding: 0 var(--padding-small);

    a{
        display: block;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    

    svg{
        width: var(--unit);
        height: var(--unit);
        fill: var(--color-x-light);
        background-color: var(--color);
        margin-right: var(--padding-small);
        
    }

   
    

}