
[data-layout="group"] .banner,
[data-layout="group-list"] .banner {
   
     background-color: var(--color-light);
    //  color: var(--color);

     .category{ 
        display: none; 
        font-size: var(--size-small);
        background-color: var(--color);
        color: var(--color-light);
        border-radius: var(--radius-small);
        padding: 0 1ch;
    }


     .group-title {

         padding-bottom: calc(var(--baseline)*0.5);

     }

     .num{
        font-family: var(--font-title);
        // margin-bottom: var(--baseline);


        display: inline-block;
        padding: 0.3ch 1ch 0ch 1ch;
        font-size: var(--size-small);
        color: var(--color);
        border: 1.5px solid var(--color);
        font-weight: bold;

        
        
       
       
     }

    

 

     h1 {
         font-size: var(--size-title-medium);
         line-height: calc(var(--baseline)*1.25);
         padding-top: calc(var(--baseline)*1);
         &:hover{
                text-decoration: underline dotted;
         }
     }

   

    //  h2{
    //     font-family: var(--font);
    //     font-size: var(--size-title-small);
    //     line-height: calc(var(--baseline)*1);
    //     padding-top: calc(var(--baseline)*0.75);
    // }

 

     h3{
        font-family: var(--font);
        font-size: var(--size-small);
     }



     figure {
         border-radius: var(--radius);
         margin-top: calc(var(--baseline)*0.75);
         background-color: var(--color);
         overflow: hidden;
         display: flex;
         width: 100%;
         aspect-ratio: 3/4;

         img {
             width: 100%;
             height: 100%;
             mix-blend-mode: cover;
         }
     }

     .description {
    
         padding: calc(var(--baseline)*0.5) 0;
         margin-top: calc(var(--baseline)*0.25);
         hyphens: auto;
         hyphenate-limit-chars: 8 4 4;

     }

     .keywords{
        margin-top: calc(var(--baseline)*1);

        
        li{ @include tag(var(--color)); }

        // @include keywords-list();
     }


     .infos {

   
        // padding-top: calc(var(--baseline)*0.5);
         display: block;
         color: var(--color);
         p{
            display: inline-block;
        
            line-height: calc(var(--baseline)*0.75);
         }
         p + p::before{ content: var(--point) "\00a0";}
     }


     .authors{
        margin-top: calc(var(--baseline)*0.5);
        p.texts, p {
            font-size: var(--size-medium);
            line-height: calc(var(--baseline)*0.5);
            // font-family: var(--font);
            // margin-bottom: 0px;
            display: inline;
         }
     }
    



     .group-button {
         font-size: var(--size-small);
         display: flex;
         justify-content: flex-end;
         margin-top: calc(var(--baseline)*0.5);

         button {
             margin-left: 1ch;
         }
     }

     .button-outline {
         @include button-outline(var(--color), var(--color-light));
     }

     .button-full {
         @include button(var(--color), var(--color-x-light));
     }

     

     .back{
        position: fixed;
        bottom: 0;
        left: calc(var(--w-header) + var(--padding-small));
        background-color: var(--color-light);
        width:  calc(var(--w-banner) - var(--padding-small)*2);
        height: calc(var(--baseline)*2);
        border-top: 1.5px solid var(--color);
        display: flex;
        align-items: center;
        color: var(--color);
        transition: all .5s;

        a{
            &::before{
                content: "← ";
            }
            &:hover{
                text-decoration: underline dotted;
            }
        }
    }


     
}







[data-layout="group-list"] .banner {
    .back{ display: none; }
}

@media #{$tablet} {
    [data-layout="group-list"] .banner {
        --fig-size: 200px;
        padding: var(--padding-small);
        padding-left:  calc(var(--fig-size) + var(--padding-small)*2.5);
        min-height: calc(var(--fig-size) + var(--padding-small)*5.5);
        border-bottom: var(--w-border) solid var(--color);


        figure{
            max-width: var(--fig-size);
            position: absolute;
            top: 0px;
            left: var(--padding-small);

            
        }


        .group-button{
            position: absolute;
            bottom: calc(var(--padding-small)*0.5);
            right:var(--padding-small);
        }

    }
}



@media #{$phone} {

    [data-layout="group-list"]{
        margin-bottom: 20vh;
    }
    [data-layout="group-list"] .banner {
       
        // border-bottom: var(--w-border) solid var(--color);

        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto calc(var(--baseline)*1.75);
        padding-left: var(--padding-small);
        // padding-bottom: calc(var(--baseline)*1.5);

        .group-title{
            border: none;
            min-height: auto;
            grid-column: span 2;

            h1{
                min-height: auto;
            }

        }

        figure{ 
            grid-row: 2/4;
            grid-column: 1;
            aspect-ratio: 3/4;
            width: 100%;
            max-width: 180px;
            height: auto;
            position: relative;
            top: 0;
            left: 0;
            margin-top: 0;
         }

         .infos{
            grid-row: 2;
            grid-column: 2;
            margin-left: var(--padding-small);
            // align-self: end;
            p::before{ content: var(--point) " "; }
            line-height: calc(var(--baseline)*0.5);
         }

         .group-button{

            bottom: calc(var(--padding-small)*0.75);

            button{
                display: block;
                margin-bottom: 0px;
                margin-left: var(--padding-small);
                margin-right: 1ch;
            }

           
        
         }
    }

    [data-page-type="list-numeros"] .banner{
        grid-template-rows: auto auto calc(var(--baseline)*3);
       

        .group-button{
            display: block;
            button{
                margin-top: calc(var(--baseline)*0.25);
            }
        }
       
    }


    [data-layout="group"] .banner{
     
        padding-top: calc(var(--baseline)*2);
        .category{ 
            display: block; 
            position: absolute;
            top: 0;
            margin-top: var(--padding-small);
            margin-left: var(--padding-small);
        }
    }

  

    @media screen and (min-width: 640px) {

        [data-layout="group"] .banner{
            padding-top: calc(var(--padding-small) + var(--baseline)*1);
            padding:  var(--baseline) var(--padding-small);
            max-width: 680px;
            margin: 0 auto;
            border-bottom: none;

            &::before{
                content: "";
                width: 200vw;
                height: calc(100% + var(--w-border));
                position: absolute;
                left: -20vw;
                top: 0;
                background-color: var(--color-light);
                z-index: -1;
                border-bottom: var(--w-border) solid var(--color);
            }
            
            display: grid;
            grid-template-columns: 3fr 2fr;
            grid-template-rows: auto auto auto;
            grid-column-gap: var(--padding-small);

            figure{
                grid-column: 2;
                grid-row: 1/4;
                margin: 0;
            }

            .category{ 
                display: inline; 
                margin-top: var(--baseline);
                // position: relative;
                // margin: 0;
                // width: auto;
      
            }

            .group-title{
                grid-column: 1;
                grid-row: 2;
                margin-top: var(--baseline);
            }

            .infos{
                grid-column: 1;
                grid-row: 3;
                margin-left: 0;
                align-self: end;
            }

         
        }


        @media screen and (min-width: 690px) {
            [data-layout="group"] .banner{
                grid-template-columns: 2fr 1fr;
            }

        }


        [data-layout="group-list"]{
            height: auto;
        }
        

        [data-layout="group-list"] .container-banners{
           

            // padding: var(--padding-small);
            // display: grid;
            // grid-template-columns: 1fr 1fr;
            // grid-gap: var(--padding-small);

            // .banner{
            //     border: var(--w-border) solid var(--color);
            //     border-radius: var(--radius-small);
            // }

            
        }

    }

    


}




