[data-page-type="authors"] .banner {
        color: var(--color);
        h1{
            display:none;
            @include header-banner();
            margin-bottom: calc(var(--baseline)*3);
            font-family: var(--font-title);
            font-size: var(--size-title-small);
            line-height: calc(var(--baseline)*1.5);
            font-weight: normal;
            margin-bottom: calc(var(--baseline)*1.5);
            color: var(--color-text);
        }

        h2{
            
            font-size: var(--size-title);
            // line-height: var(--size-title-big);
            margin-top: calc(var(--baseline)*3);
            margin-bottom: calc(var(--baseline)*1);
            &:first-of-type{
                margin-top: calc(var(--baseline)*1);
            }
        }

        p{
            color: var(--color-text);
        }

        p a:hover{
            @include link();
            color: var(--color-text)!important;
        }
        
}

@media #{$tablet} {
    [data-page-type="authors"] .banner{ display: none; }
}