@media #{$medium}{
    #bulles{
        margin-left: calc(var(--w-header) + var(--w-banner));
        width: calc(100vw - var(--w-header) - var(--w-banner));
        position: fixed;
        top: 0px;
        left: 0px;
        display: none;
     }
     [data-layout="home"]{
        #bulles{
            margin-left: calc(var(--w-header));
            width: calc(100vw - var(--w-header));
            display: none;
        }
       

    }
}

