#card--article-cover {
  figure {
    border: 1px solid currentColor;
    border-radius: var(--radius);
    background-color: var(--color);
    overflow: hidden;
    display: flex;
    aspect-ratio: 1 / 1;
    margin-top: calc(var(--baseline) * 1);

    a{
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: flex;
    }
  }
}

@container (min-width: 660px) {
  #card--article-cover {
    grid-column: 2;
    grid-row: 3/5;
  }
}

@container (min-width: 960px) {
  #card--article-cover {
    grid-column: 5 / end;
    grid-row: 2/4;
  }
}

.card-block {
  // color: var(--color);
  @include card();
  padding-bottom: calc(var(--baseline) * 2);

  .type {
    border-bottom: 1.5px solid var(--color);
    color: var(--color);
    // &::before{
    //     content: var(--arrow-bottom) " ";

    // }
  }
  .infos {
    margin-bottom: calc(var(--baseline) * 0.5);
    font-family: "Abordage", sans-serif;
    color: var(--color);
  }

  .group-button {
    font-size: var(--size-small);
    display: flex;
    justify-content: flex-end;
    margin-top: calc(var(--baseline) * 0.5);
    position: absolute;
    bottom: calc(var(--padding-small) / 4);
    right: calc(var(--padding-small) / 2);
  }
  .button-outline {
    @include button-outline(var(--color), var(--color-bg-light));
    margin-right: 0.5ch;
  }
  .button-full {
    @include button(var(--color), var(--color-bg-light));
  }

  h1 {
    font-size: var(--size-title-small) !important;
    line-height: calc(var(--baseline) * 1.1);
    margin-bottom: calc(var(--baseline) * 0.5);
    // backgrounrd-color: var(--color);
    a:hover {
      text-decoration: underline dotted;
    }
  }

  .list-articles {
    a:hover {
      text-decoration: underline dotted;
    }
  }

  .num {
    display: inline;
    border-bottom: var(--border-dotted);
    border-color: var(--color);
  }

  .num + h1 {
    margin-top: calc(var(--baseline) * 0.5);
  }

  .description {
    font-size: var(--font-size);
    line-height: calc(var(--baseline) * 1);

    .texts {
      display: block;
      font-size: var(--size-small);
      line-height: calc(var(--baseline) * 0.75);
    }

    a:hover {
      text-decoration: underline;
    }
  }
  .keywords {
    // color: var(--color-medium);
    margin-top: var(--baseline);
  

    // @include keywords-list();

    li {
      @include tag(currentColor);
      // border-color: var()
    }
  }

  .list-articles {
    // font-size: var(--size-small);
    // line-height: calc(var(--baseline) * 0.75);
    margin-left: calc(var(--unit) * 5 + var(--padding-small));
    margin-top: calc(var(--baseline) * 1);
    // border-bottom: var(--border-dotted);
    // border-color: var(--color-medium);
    padding-bottom: calc(var(--baseline) * 0.5);

    p {
      font-size: var(--size-small);
    }

    li {
      list-style: disc;
      margin-left: 1.5ch;
      padding-top: calc(var(--baseline) * 0.25);
    }
  }
}

/* PHONE ---------------------- */

@media #{$phone} {
  body {
    --size-title: 36px;
  }

  #card--article-cover,
  .card-actu,
  .card-block[data-type="article"],
  .card-block[data-type="dossier"] {
    margin-bottom: var(--padding-small);


  }

  #card--article-cover figure{
    height: calc(var(--baseline)* 8);

  }
}

/* HOME current num, full color ---------------------- */

// [data-layout="home"] #section-actus,
// [data-layout="home"] #section-current-num
// {

//         background-color: var(--color);
//         color: var(--color-bg);
//         .type{
//             border-color: var(--color-bg)
//         }

//     .button-outline{
//         border: 1px solid  var(--color-bg-light);
//         color: var(--color-bg-light);
//         background-color: var(--color);
//         &:hover{
//             background-color: var(--color-medium)!important;
//         }
//     }

//     .button-full{
//         border: 1px solid  var(--color-bg-light);
//         color: var(--color);
//         background-color: var(--color-bg-light);
//         &:hover{
//             background-color: var(--color);
//             color: var(--color-bg-light);
//         }
//     }
// }
