.card-actu{

    @include card();
    margin-bottom: var(--padding-small);
    
    h1{
        font-size: var(--size-title-medium);
        line-height: calc(var(--baseline)*1.5);
        line-height: calc(var(--baseline)*1.25);
        margin-top: calc(var(--baseline)*0.75)!important;
        margin-bottom: 0px;
     

    }

    h2{
        font-family: var(--font-family);
        font-size: var(--font-size);
        // @include arrow-bottom();
        padding-right: 3ch;
        margin-top: 0px;
        margin-bottom: calc(var(--baseline)*0.5);
     
    }

    .chapo{
        display: none;
    }

 

    .group-button{
        display: flex;
        justify-content: flex-end;
        margin-top: calc(var(--baseline)*0.5);
    }
    .button-full {
        font-size: var(--size-small);
        @include button(var(--color), var(--color-light));
    }


    figure{
        width: 100%;
        // height: calc(var(--baseline)*12);
        overflow: hidden;
        background-color: var(--color);
        border-radius: var(--radius);
        margin-top: calc(var(--baseline)*0.5);
        max-height: calc(var(--baseline) * 8);
        overflow: hidden;
        border: none;
        img{
            display: flex;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
 


}


[data-page-type="actualites"] .card-actu{
    color: var(--color-text);
    padding-bottom: calc(var(--baseline) * 2);

    .type, .button-outline{ display: none!important; }
    .infos{
        border-bottom: 1.5px solid var(--color);
    }
    padding-bottom: calc(var(--baseline) * 2);
    button{
        font-size: var(--size-x-small)!important;
    }
}

