.card {
    margin-bottom: var(--padding-small);
    @include card();

    &:hover{
        background-color: var(--color-light);
    }

    .content{
        // @include card();
     
        & > a{
            display: grid;
            width: 100%;
            height: 100%;
            grid-template-columns: 1fr 14ch;
        }
    }
   


    h1{
        font-size: var(--font-size);
        border-bottom: 1.5px solid var(--color-text);
        margin-bottom: calc(var(--baseline)*0.25);
        grid-column: span 2;
    }

    .description {
        font-size: var(--size-small);
        line-height: calc(var(--baseline)*0.75);
        @include arrow-bottom();
    }

    .details{
        font-size: var(--size-small);
        line-height: calc(var(--baseline)*0.75);
        text-align: right;


    }


    .keywords{
        li{
            @include tag(var(--color-text));
            font-size: var(--size-x-small);
            // margin-bottom: 0;
        }
        margin-top: calc(var(--baseline)*0.5);


    }
}


// @media #{$phone}{
//     .card{
//         background-color: transparent;
//         border-radius: 0px;
//         border-bottom:  var(--w-border) solid var(--color);
//         padding-top: calc(var(--baseline) * 1);
//         padding-bottom: calc(var(--baseline) * 1.5);

      
 

//         .content{
         
//             & > a{
//                 display: flex;
//                 flex-direction: column;

//                 h1{
//                     order: 1;
//                     font-size: var(--size-title-small);
//                     line-height: calc(var(--baseline)*1.25);
//                 }

//                 .details{
//                     order: 2;
//                     margin-bottom: calc(var(--baseline)*0.5)
//                 }
//                 .description{
//                     order: 3;
//                 }

//                 .keywords{
//                     order: 4;
//                 }
          
//             }
//         }
//     }

//     .article-wrapper:first-of-type{
//         border-top:  var(--w-border) solid var(--color);
//     }
// }