.card-author{
    @include card();
    margin-bottom: var(--padding-small);

    h1{
        font-size: var(--size-title-medium);
        border-bottom: 1.5px solid var(--color-text);
        padding: calc(var(--baseline)*0.25) 0;
        margin-bottom: calc(var(--baseline)*0.5);

        
    }

    .affiliation{
        margin-bottom:  calc(var(--baseline)*0.5);
        padding-left: 2ch;
        &::before{ 
            content: "→\00a0" ;
            position: absolute;
            left: 0;
        }
    }

    .bio{
        margin-top:  calc(var(--baseline)*0.5);
        margin-bottom:  calc(var(--baseline)*0.5);
    }

    .links{
        list-style-type: disc;
        font-size: var(--size-small);
        a{
            @include link();
        }


    }

    .list-publis{
        margin-top: var(--baseline);

        & > p{
            font-size: var(--size-small);
            color: var(--color);
            line-height: calc(var(--baseline)*0.5);

        }

        ul{
            // margin-top: calc(var(--baseline)*-0.25);
            margin-bottom: calc(var(--baseline)*0.5);
        }

        li{
            // color: var(--color);
            border-bottom: 1.5px solid var(--color-light);
            position: relative;
            margin-top:  calc(var(--baseline)*0.25);
            &:hover{
                color: var(--color);
                border-bottom: 1.5px solid var(--color);
            }

            a{
                display: block;
                width: 100%;
            }

            .title{
                span{
                    font-size: var(--size-small);
                    &::before{ content: "["; } 
                    &::after{ content: "]"; } 
                }
            }
         

           
        }
    }


}



