  #edito{
        
         .group{
            margin-bottom: calc(var(--baseline));
         }

        #text-edito .content{
            margin-right: 3ch;
            @include text();
        }

        .authors-edito{
            // padding-left: var(--padding);
            margin-top: var(--baseline);
            max-width: 48ch;
        }


        .group-button{
            font-size: var(--size-small);
            display: flex;
            justify-content: flex-end;
            margin-top: calc(var(--baseline)*0.75);
            .button-outline {
                @include button-outline(var(--color), var(--color-light));
            }
            .button-full {
                @include button(var(--color), var(--color-bg));
            }
        }

      
        #toggle-edito{ display: none; }
        #close-edito{ display: block; }
        #read-edito{ display: none; }

        #toggle-edito:checked ~ #text-edito{
            .content{
                display: -webkit-box; 
                -webkit-box-orient: vertical; 
                -webkit-line-clamp: 5; 
                overflow: hidden; 
                text-overflow: ellipsis; 
               
            }

            #close-edito{ display: none; }
            #read-edito{ display: block; }
    

          
        }

      


    }
