@mixin figure() {
  figure {
    margin: calc(var(--baseline) * 1.5) auto;
    width: 100%;
    height: 400px;
    padding: var(--baseline);
    border-radius: 5px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
