// [data-page-type="authors"] main,
// [data-page-type="keywords"] main,
// [data-type="numero"] main,
// [data-type="dossier"] main,
// [data-type="article"] main {
//   padding-bottom: 4rem !important;
// }

#main-footer {
  text-align: center;
  padding: 1rem 0;
  padding-left: calc(var(--w-header) * 1);

  width: 100%;

  a:hover {
    text-decoration: underline dotted;
  }
}

[data-page-type="authors"] #main-footer,
[data-page-type="keywords"] #main-footer,
[data-type="numero"] #main-footer,
[data-type="dossier"] #main-footer,
[data-type="article"] #main-footer {
  padding-left: calc(var(--w-header) + var(--w-banner));
}

[data-page-type="list-dossiers"] #main-footer,
[data-page-type="list-numeros"] #main-footer {
  display: none;
}

@media screen and (max-width: 860px) {
  #main-footer {
    margin-left: 0;
    padding-left: calc(var(--unit) + 1rem) !important;
    padding-right: 1rem;
  }

  [data-type="article"] #main-footer {
    display: none;
  }
  [data-type="article"] main {
    padding-bottom: 0 !important;
  }
}
