#full-bd {
  width: calc(100vw - var(--w-header));
  height: 100vh;
  position: fixed;
  left: var(--w-header);
  top: 0px;
  background-color: var(--color-light);
  transition: all 0.5s;
  z-index: 800;

  header {
    color: var(--color);
    margin: 0 30px;
    padding-top: calc(var(--baseline) * 0.75);
    padding-bottom: calc(var(--baseline) * 0.5);
    border-bottom: 1px solid var(--color);
    font-family: var(--font-title);

    display: flex;
    justify-content: space-between;

  

    button {
      color: var(--color);
    }
  }

  .content {
    height: calc(100vh - var(--baseline) * 2.5);
    // width: 100%;
    padding: calc(var(--baseline) * 1.5) 0px;

    button {
      font-size: var(--size-title);
      color: var(--color);
      position: absolute;
      top: calc(50% - var(--baseline));
      z-index: 100;
    }

    .button-prev {
      left: 30px;
    }

    .button-next {
      right: 30px;
    }
  }
}

.swiper {
  --swiper-margin: 5vw;
}

.swiper-button-next,
.swiper-button-prev {
  font-size: 4rem !important;
  top: 2rem !important;
  width: 19vw !important;
  height: 92vh !important;
  text-align: left;
  color: var(--orange) !important;
}

.swiper-button-next {
  right: var(--swiper-margin) !important;
  justify-content: flex-end !important;
}

.swiper-button-prev {
  left: var(--swiper-margin) !important;
  justify-content: flex-start !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: none !important;
}

.swiper-slide {
  height: 92vh !important;
  text-align: center;
}

.swiper-slide-active {
  z-index: 1;
}

.swiper-slide-zoomed .swiper-zoom-container {
  cursor: zoom-out;
}
.swiper-zoom-container {
  cursor: zoom-in;
}

.swiper img {
  width: 100%;
  height: 100%;
  object-fit: contain;

  transition: all 0.3s ease-in-out;
}

.swiper-slide:not(.swiper-slide-active) img {
  width: 50%;
  opacity: 0.5;
}

#full-bd {
  display: none;
}

.bd-open #full-bd {
  display: block;
}
