.header-content {
  .category {
    // font-family: var(--font-title);
    font-size: var(--size-small);
    color: var(--color);
    letter-spacing: 0.2px;
    margin-bottom: calc(var(--baseline) * 1);
    display: inline-block;
  }

  .infos{
    display: inline-block;
    font-size: var(--size-small);
    color: var(--color);

    span::before{
      content: "\00a0"  var(--point) "\00a0";
      
    }
  }

  h1 {
    font-family: var(--font-title);
    font-size: var(--size-title);
    font-weight: normal;
    line-height: calc(var(--baseline) * 2.5);
    margin-bottom: calc(var(--baseline) * 1);
    border: none;
  }

  .contexte {
    display: flex;
    flex-direction: column;
    align-items: end;
    p{
     
    }
    a {
      font-family: "Abordage", sans-serif;
      font-size: var(--size-small);
      line-height: calc(var(--baseline)* 0.75);
      display: block;
      width: fit-content;
      @include link();

    }
  }

  p[data-type="numero"] {
    @include button-outline(var(--color), var(--color-bg));
  }
  p[data-type="dossier"] {
    @include button-outline(var(--color), var(--color-bg));
  }
}

[data-layout="static"] {
  .header-content {
    margin-bottom: calc(var(--baseline) * 1.5);
  }
}

@media #{$phone} {
  .header-content {
    h1 {
      line-height: calc(var(--baseline) * 1.75);
    }
  }

  [data-layout="full"] .header-content {
    padding: 0 var(--padding-small);
  }
}

@media #{$tablet} {
  [data-type="site"] {
    .header-content {
      padding-top: calc(var(--baseline) * 1.5);
    }
  }
}
