

.header-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: calc(var(--baseline)*0.5);
    



    .keyword-selected{
        max-width: calc(100% - 14ch);
        p{
            @include tag(var(--color));
            background-color: var(--color);
            color: var(--color-bg);
            margin-right: 1ch;
            &:hover{ 
                background-color: var(--color-medium);
                color: var(--color-bg)!important;
                cursor: pointer; 
            }
        }
        button{
            @include button-outline(var(--color), var(--color-bg));
           
            font-size: var(--size-small);
           
           
        }
    }

    .total-cards li{
        display: inline;
        padding-left: 2ch;
        font-size: var(--size-small);
        color: var(--color);
    }

    .form-search{
        top: calc(var(--baseline)*-0.25);
        button svg{
            width: 20px;
            top: 6px;
            margin-right:5px;
            fill: var(--color);
        }

        input{
            border: 1.5px solid var(--color);
            font-family: var(--font-family);
            font-size: var(--size-small);
            padding-left: 0.5ch;
            height: calc(var(--baseline)*1);
            color: var(--color);
        
        }

    }
}


// [data-page="list-articles"]{

//     .header-list{
//         justify-content: flex-end;
//     }
    
// }