


.lightbox {
  display: none;
  position: fixed;
  z-index: 201;
  top: 0;
  left: var(--w-header);
  width: calc(100vw - var(--w-header));
  height: 100vh;
  background-color: #fff;
  padding: var(--padding-large);
  padding-top: calc(var(--padding-large)*1.5);



  &.show {
    display: block;
  }

  figure{
    width: 100%;
    height: 100%;

  }

  button.close {
    position: absolute;
    cursor: pointer;
    z-index: 1;
    top: 1rem;
    right: 1rem;
    font-size: var(--font-size);
    display: block;
    padding: 0.5ch 1ch;
    @include button(var(--color), var(--color-bg));

    display: flex;
    justify-content: space-between;
    width: 10ch;
  
    &::after{ 
      content: " ✕"; 
      
      position: relative;
      top: 1px;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}




@media #{$phone} {
  .lightbox{
    padding: var(--padding-small);
    padding-top: calc(var(--padding-small)*1.5);
  }
}