.section-infos {
  a {
    @include link();
  }

  .group {
    columns: 2;
    column-gap: 20px;
    //   margin-bottom: calc(var(--baseline)*2);
    h2 {
      column-span: all;
    }
    div {
      break-inside: avoid;
    }

    @media #{$phone} {
      columns: 1;
    }
  }

  h2 {
    font-weight: normal;
    font-family: var(--font-title);
    font-size: var(--font-size);
    border-bottom: 1.5px solid var(--color);
    color: var(--color);
    margin-bottom: calc(var(--baseline) * 0.75);
    margin-top: calc(var(--baseline) * 1);
    //   &::before{
    //      content: var(--arrow-bottom) " ";
    //   }
  }

  h3 {
    font-size: var(--size-small);
    font-weight: 500;
    color: var(--color);
  }

  div {
    margin-bottom: var(--baseline);
  }

  .author-name {
    margin-block-start: var(--baseline);
  }

  .author-description {
    font-size: var(--size-small);
    line-height: calc(var(--baseline) * 0.75);
    margin-top: calc(var(--baseline) * 0.25);
    margin-bottom: calc(var(--baseline) * 0.5);
  }

  .keywords ul li {
    @include tag(var(--color-text));
    font-size: var(--size-small);
  }
}
