#header {
   background-color: var(--color);
   color: var(--color-bg);
   z-index: 10000;

   .content{
      overflow: hidden;
   }

   

   #button-header{
      svg .inside{
         display: none;
      }
   }

   

   nav {
      margin-top: calc(var(--baseline)*2);
      margin-left: var(--unit);

     

      ul{
         padding-left: calc(var(--padding)*1.25);
      }

      ul li {
         padding-bottom: calc(var(--baseline)*0.25);
         white-space: nowrap;

         &::before {
            content: '';
            display: inline-block;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            border: 2px solid var(--color-bg);
            background-color: var(--color);
            position: relative;
            left: -14px;
         }

         

         &:hover {
            &::before {
               background-color: var(--color-bg);
            }
         }

         &.selected {
            &::before {
               background-color: var(--color-bg);
            }
         }

      }
   }

   #highlight {

      li{
         @include button-outline(var(--color-bg), var(--color));
         background-color: var(--color);
         text-align: center;
         &:hover{
            background-color: var(--color-bg)!important;
            border-color: var(--color-bg)!important;
            color: var(--color)!important;
         }
       
      }
   }
}





   #logo-phone, #button-header-phone{
      display: none;
   }

   #button-header{
      height: 100vh;
      width: var(--unit);
      border-right: var(--w-border) solid var(--color-light);
      position: absolute;
      top: 0px;
      left: 0px;
      padding-top: calc(var(--padding-small)*1.5);
      z-index: 100;

      display: flex;
      justify-content: center;
      align-items: flex-start;


   }

   #baseline{
      width: 260px;
      margin-left: calc(var(--unit)*1.75);
      margin-top: calc(var(--padding-small)*1.25);
      #logo{
         width: 250px;
         fill: var(--color-bg)!important;
      }

   }

   #highlight {
      position: absolute;
      bottom: calc(var(--baseline) + var(--padding-small));
      font-size: var(--size-small);
      width: 16ch;
      left: 6px;
      z-index: 300;

      li{
         font-size: var(--size-small);
         @include button-outline(var(--color-bg), var(--color));
         text-align: center;
         &:nth-of-type(1){
            transform: rotate(-4deg);
            left: 1.5ch;
            width: 20ch;
            z-index: 10;
            top: -6px;
         }
         &:nth-of-type(2){
            transform: rotate(3deg);
         }

       
      }

     
   }


@media #{$tablet}{

      #highlight {
         position: relative;
         left: 70px;
         top: 0px;
         margin-top: calc(var(--baseline)*2);

         li:nth-of-type(1),
         li:nth-of-type(2){
            transform: rotate(0deg)!important;
            left: 0px;
         }

         li:nth-of-type(2){
            width: 15ch;
         }
         
   }
}


@media #{$medium}{

   #header nav{
      ul{
         padding-left: calc(var(--padding)*2);
      }

      li{
         &:nth-of-type(2) {
            left: -20px;
         }
   
         &:nth-of-type(3) {
            left: -14px;
         }
   
         &:nth-of-type(4) {
            left: -24px;
         }
   
         &:nth-of-type(5) {
            left: -20px;
         }
   
         &:nth-of-type(6) {
            left: -18px;
         }
   
         &:nth-of-type(6) {
            left: 6px;
         }
   
         &:nth-of-type(7) {
            left: -9px;
         }
   
    
            
      }
   }

}



#logo-phone{
   width: 500px;
   max-width: calc(100vw - 60px);
   padding: var(--padding-small);
   // margin-top: var(--h-header);
}
