@media #{$tablet} {
  [data-layout="full"],
  [data-layout="group"],
  [data-layout="article"],
  [data-layout="banner"],
  [data-layout="no-banner"] {
    #main-content {
      padding: var(--padding-small);
      margin-bottom: 20vh;
    }
  }
}

@media #{$phone} {
  body {
    // background-color: red;
    --size-title: 36px;
  }

  [data-layout="full"] {
    #main-content {
      padding: 0px;
    }
  }

  [data-page-type="list-articles"] #main-content {
    padding: 0;

    .header-list {
      background-color: var(--color-bg-light);
      border-top: var(--w-border) solid var(--color);
      padding: var(--padding-small);
      position: sticky;
      top: 0px;
      margin-left: -1.2rem;
      width: calc(100vw - var(--unit));
      z-index: 100;

      .title-phone {
        width: 100%;
        padding-top: 0px;
      }

      #articles-search {
        background-color: var(--color-bg-light);
      }
    }
  }

  .title-phone {
    display: block;
    font-family: var(--font);
    text-transform: uppercase;
    font-size: var(--size-small);
    padding: var(--padding-small);
    color: var(--color);
  }
}
