body {
  width: 100vw;
  min-height: 100vh;
  padding: 0px;
  --w-grid: calc(var(--unit) * 8);
  --w-banner: var(--w-grid);
}

main {
  min-height: 93vh;
}

body #header {
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  transition: width 0.5s;
  #baseline,
  nav {
    transition: max-width 1s;
  }
}

.title-phone {
  display: none;
}

/* max-width -------------------------------- */

[data-layout="group"],
[data-layout="article"],
[data-layout="banner"],
[data-layout="no-banner"] {
  #main-content {
    max-width: 680px;
    margin: 0 auto;
  }
}

#main-content {
  margin-bottom: 20vh !important;
}

/* HEADER -------------------------------- */

@media #{$tablet} {
  body #header,
  body.header-closed #header {
    width: var(--unit);
    #baseline,
    nav,
    #highlight {
      display: none;
      max-width: 0px;
      overflow: hidden;
    }
  }

  body.header-open #header {
    width: 100vw;

    #baseline,
    nav,
    #highlight {
      display: block;
      max-width: auto;
      overflow: visible;
    }
  }

  main {
    margin-left: var(--unit);

    .banner {
      z-index: 200;
    }
    .main-content {
      z-index: 100;
    }
  }
}

/* MEDIUM -------------------------------- */

@media #{$medium} {
  body {
    --w-header: calc(var(--w-grid) + var(--unit));
  }

  body #header {
    width: var(--w-header);
    border-right: 1.5px solid var(--color-light);

    #baseline,
    nav {
      max-width: var(--w-header);
    }
  }

  body.header-closed {
    --w-header: var(--unit);
  }

  .header-closed #header {
    #baseline,
    nav {
      display: none;
      max-width: 0px;
      overflow: hidden;
    }
  }

  body #header {
    width: var(--w-header);
  }

  [data-layout="group"],
  [data-layout="article"],
  [data-layout="banner"] {
    main {
      margin-left: calc(var(--w-banner) + var(--unit));
      padding: var(--padding-large);

      .banner {
        z-index: 200;
      }
      .main-content {
        z-index: 100;
      }
    }

    #main-content {
      // max-width: 680px;
      // margin: 0 auto;
      transition: all 0.5s;
    }

    .banner {
      height: 100vh;
      position: fixed;
      top: 0px;
      width: var(--w-banner);
      left: var(--w-header);
      overflow: scroll;
      padding-bottom: 20vh;
      transition: left 0.5s;
    }
  }

  [data-layout="home"],
  [data-layout="no-banner"] {
    main {
      margin-left: var(--w-header);
      padding: var(--padding-large);
      transition: all 0.5s;
    }

    #main-content {
      // max-width: 680px;
      // margin: 0 auto;
      transition: all 0.5s;
    }
  }
}

/* DESKTOP -------------------------------- */

@media #{$desktop} {
  [data-layout="group"],
  [data-layout="article"],
  [data-layout="banner"] {
    main {
      margin-left: calc(var(--w-header) + var(--w-banner));
      transition: all 0.5s;
    }
  }
}

@media #{$desktop-x} {
  [data-layout="article"],
  [data-layout="banner"] {
    // background-color: red;
  }

  [data-layout="home"] #main-home {
    // background-color: red;
    max-width: 1300px;
    margin: 0 auto;
  }
}

@media #{$desktop-xx} {
  body {
    --w-grid: calc(var(--unit) * 12);
  }

  [data-layout="group-list"] .container-banners {
    --w-grid: calc(var(--unit) * 10);
  }

  #header #logo {
    width: 390px;
  }
}
