[data-layout="full"] {
  #main-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  main {
    width: calc(100% - var(--w-header));
    margin-left: var(--w-header);
    padding: var(--padding-large);
    transition: all 0.5s;
    container-type: inline-size;
    container-name: mainFull;

    @media #{$phone} {
      padding: 0;
      padding-right: calc(var(--padding-small) * 1);
      padding-left: calc(var(--unit) + var(--padding-small));
    }
  }

  #main-content {
    //  max-width: 1100px;
    //  margin: 0 auto;
    transition: all 0.5s;
  }
}

@container mainFull (min-width: 660px) {
  #main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--padding-small);
    .card-block {
      margin-bottom: 0px;
    }
  }
  header {
    grid-column: span 2;
  }
}

@container mainFull (min-width: 960px) {
  #main-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: var(--padding-small);
  }
  header {
    grid-column: span 3;
  }
}
